
<h1>Persona </h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/personas">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <div class="card">
      <div class="card-header">
              Datos Personales
      </div>
      <div class="card-body">

        <form [formGroup]="personaForm" (ngSubmit)="guardar( )">
          
          <!-- Datos Personales-->
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group" [hidden]="crear">
                <label>ID</label>
                <input type="text"
                      class="form-control"
                      placeholder="ID"
                      placeholder="personaId"
                      formControlName="personaId" 
                      name="id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-5">
              <div>
                <label>C.I</label>
                  <input type="text"
                        class="form-control"
                        placeholder="Cedula"                      
                        name="cedula"
                        formControlName="cedula"
                        [class.is-invalid]="cedulaNoValido">
                    <small *ngIf="cedulaNoValido" class="text-danger">
                      Ingrese cedula
                    </small>
              </div>

              <div>
                <label>Nombres</label>
                <input type="text"
                      class="form-control"
                      placeholder="Nombres"
                      formControlName="nombres"
                      name="nombres"
                      [class.is-invalid]="nombreNoValido">
                  <small *ngIf="nombreNoValido" class="text-danger">
                    Ingrese nombres
                  </small>
              </div>

              <div>
                <label>Apellidos</label>
                <input type="text"
                      class="form-control"
                      formControlName="apellidos"
                      name="apellidos"
                      placeholder="Apellidos"
                      [class.is-invalid]="apellidoNoValido">
                <small *ngIf="apellidoNoValido" class="text-danger">
                  Ingrese apellidos
                </small>
              </div>

              <label>Fecha Nac.</label>
              <input type="date"
                    class="form-control"
                    formControlName="fechaNacimiento"
                    name="fechaNacimiento"
                    placeholder="Fecha Nacimiento">
          
              <label>Edad</label>
              <input type="number"
                    class="form-control"
                    formControlName="edad"
                    name="edad"
                    placeholder="Edad">
                  
              <label>Direccion</label>
              <input type="text"
                      class="form-control"
                      formControlName="direccion"
                      name="direccion"
                      placeholder="Direccion">

              <div>
                <label>Email</label>
                <input type="email"
                  class="form-control"
                  formControlName="email"
                  name="email"
                  placeholder="Email"
                [class.is-invalid]="correoNoValido">
                <small *ngIf="correoNoValido" class="text-danger">
                  Ingrese el correo
                </small>
              </div>

              <label>Sexo</label>
              <select ui-select2 class="form-control input-sm"
                  formControlName="sexo"
                  uppercase>
                  <option value=null>----SELECCIONE----</option>
                  <option *ngFor="let item of listaSexo; let i = index"
                    value="{{item.valor}}">
                      {{item.descripcionValor}}
                  </option>
              </select>
                
            </div>

            <div class="col-lg-5">
              <label>Estado Civil</label>
              <select ui-seldivect2 placeholder="Estado Civil" 
                class="form-control input-sm"          
                 name = "estadoCivil"
                 formControlName="estadoCivil"
                uppercase>
                <option value=null>----SELECCIONE----</option>
                <option *ngFor="let item of listaEstadoCivil; let i = index"
                  value="{{item.valor}}">
                    {{item.descripcionValor}}
                </option>
              </select>
              
              <label>Nacionalidad</label>                
              <select ui-select2 class="form-control input-sm"
                 name = "nacionalidad"
                 formControlName="nacionalidad"
                uppercase>
                <option value=null>----SELECCIONE----</option>
                <option *ngFor="let item of listaNacionalidad; let i = index"
                  value="{{item.valor}}">
                    {{item.descripcionValor}}
                </option>
              </select>
                                              
              <label>Telefono</label>
              <input type="text"
                    class="form-control"
                    formControlName="telefono"
                    name="telefono"
                    placeholder="Telefono">
          
              <label>Celular</label>
              <input type="text"
                    class="form-control"
                    formControlName="celular"
                    name="celular"
                    placeholder="Celular">
            
              <label>Carrera</label> 
              <select class="form-control input-sm" name="carreraId"
                  formControlName="carreraId">
                  <option value=null>----SELECCIONE----</option>
                  <option *ngFor="let item of listaCarreras; let i = index"
                    value="{{item.carreraId}}">
                      {{item.descripcion}}
                  </option>
              </select>
          
              <label>Departamento</label>
              <select class="form-control input-sm" name = "departamentoId"
                  formControlName="departamentoId">
                  <option value=null>----SELECCIONE----</option>
                  <option *ngFor="let item of listaDepartamentos; let i = index"
                    value="{{item.departamentoId}}">
                      {{item.descripcion}}
                  </option>
              </select>
          
              <label>Dependencia</label>
              <select class="form-control input-sm" name = "dependenciaId"
                  formControlName="dependenciaId">
                  <option value=null>----SELECCIONE----</option>
                  <option *ngFor="let item of listaDependencias; let i = index"
                    value="{{item.dependenciaId}}">
                      {{item.descripcion}}
                  </option>
              </select>
          
              <label>Estamento</label>
              <select class="form-control input-sm" name = "estamentoId"
                  formControlName="estamentoId">
                  <option value=null>----SELECCIONE----</option>
                  <option *ngFor="let item of listaEstamentos; let i = index"
                    value="{{item.estamentoId}}">
                      {{item.descripcion}}
                  </option>
              </select>
            </div>
          </div>

          <div class="form-row" [hidden]="crear">
            <div class="col-lg-5"> 
              <label>Fecha creacion</label>
              <input type="datetime-local"
                    class="form-control"
                    formControlName="fechaCreacion"
                    name="fechaCreacion"
                    placeholder="Fecha creacion">

              <label>Fecha modificacion</label>
              <input type="datetime-local"
                    class="form-control"
                    formControlName="fechaModificacion"
                    name="fechaModificacion"
                    placeholder="Fecha modificacion">
            </div>
            <div class="col-lg-5"> 
              <label>Usuario creacion</label>
              <input type="text"
                    class="form-control"
                    formControlName="usuarioCreacion"
                    name="usuarioCreacion"
                    placeholder="Usuario creacion">

              <label>Usuario modificacion</label>
              <input type="text"
                    class="form-control"
                    formControlName="usuarioModificacion"
                    name="usuarioModificacion"
                    placeholder="Usuario modificacion">
            </div> 
          </div>
          <br>
          <hr>
          <br>
          <div class="form-group text-center">
            <button type="submit"
                    class="btn btn-primary ">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button (click)="limpiar()" [hidden]="!crear" class="btn btn-warning">Limpiar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
