
<h1>Paciente </h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/personas">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">
    <div class="card">
      <div class="card-header">
              Datos Personales
      </div>
  <div class="card-body">


    <form (ngSubmit)="guardar( f )"
          #f="ngForm">

      <div class="form-group">
        <label>ID</label>
        <input type="text"
               class="form-control"
               placeholder="ID"
               [(ngModel)]="persona.personaId"
               name="id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>C.I</label>
          <input type="text"
                 class="form-control"
                 placeholder="Cedula"
                 [(ngModel)]="persona.cedula"
                 name="cedula"
                 required>
      </div>
      <div class="form-group col-md-6">
          <label>Nombres</label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombres"
                 [(ngModel)]="persona.nombres"
                 name="nombres"
                 required>
      </div>

      <div class="form-group col-md-6">
          <label>Apellidos</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.apellidos"
                 name="apellidos"
                 placeholder="Apellidos">
      </div>

      <div class="form-group col-md-6">
          <label>Edad</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.edad"
                 name="edad"
                 placeholder="Edad">
      </div>
      </div>
      <div class="form-group">
          <label>Direccion</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.direccion"
                 name="direccion"
                 placeholder="Direccion">
      </div>

      <div class="form-group">
          <label>Email</label>
          <input type="email"
                 class="form-control"
                 [(ngModel)]="persona.email"
                 name="email"
                 placeholder="Email">
      </div>
  <div class="form-row">
      <div class="form-group col-md-4">
          <label>Estado Civil</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.estadoCivil"
                 name="estadocivil"
                 placeholder="Estado Civil">
      </div>

      <div class="form-group col-md-4">
          <label>Fecha Nac.</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.fechaNacimiento"
                 name="fechadenacimiento"
                 placeholder="Fecha Nacimiento">
      </div>

      <div class="form-group col-md-4">
          <label>Nacionalidad</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.nacionalidad"
                 name="nacionalidad"
                 placeholder="Nacionalidad">
      </div>
      <div class="form-group col-md-4">
          <label>Sexo</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.sexo"
                 name="sexo"
                 placeholder="Sexo">
      </div>

      <div class="form-group col-md-6">
          <label>Telefono</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.telefono"
                 name="telefono"
                 placeholder="Telefono">
      </div>
      <div class="form-group col-md-6">
          <label>Celular</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="persona.celular"
                 name="celular"
                 placeholder="Celular">
      </div>
</div>
      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary ">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>


    </form>
</div>
</div>
  </div>
</div>
