
<h1>Stock </h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/stocks">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <div class="card">
      <div class="card-header">
              Datos Stock
      </div>
      <div class="card-body">

        <form [formGroup]="stockForm" (ngSubmit)="guardar( )">
          
          <!-- Datos Stock-->
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group" [hidden]="crear">
                <label>ID</label>
                <input type="number"
                      class="form-control"
                      placeholder="ID"
                      placeholder="stockId"
                      formControlName="stockId" 
                      name="id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-5">
              <div formGroupName="insumos" >
                <div>
                  <label>Insumo Id </label>
                  <div class="input-group mb-3">
                    <input type="number"
                        class="form-control"
                        placeholder="Insumo Id"                      
                        name="insumoId"
                        formControlName="insumoId"
                        [class.is-invalid]="insumoIdNoValido">
                    <div class="input-group-append">
                      <button class="btn btn-outline-info" 
                            (click)="obtenerInsumo( )">
                            Buscar
                      </button>
                    </div>                  
                  </div>
                  <small *ngIf="insumoIdNoValido" class="text-danger">
                    Ingrese el insumo Id
                  </small>
                </div>

                <div>
                  <label>Codigo</label>
                    <input type="text"
                          class="form-control"
                          placeholder="Codigo"                      
                          name="codigo"
                          formControlName="codigo">                      
                </div>

                <div>
                  <label>Descripcion</label>
                  <input type="text"
                        class="form-control"
                        placeholder="Descripcion"
                        formControlName="descripcion"
                        name="descripcion">                    
                </div>
              </div>

              <div>
                <label>Cantidad</label>
                <input type="number"
                      class="form-control"
                      placeholder="Cantidad"                      
                      name="cantidad"
                      formControlName="cantidad"
                      [class.is-invalid]="cantidadNoValido">
                  <small *ngIf="cantidadNoValido" class="text-danger">
                    Ingrese la cantidad
                  </small>
              </div>

              <div>
                <label>Unidad Medida</label>
                <select class="custom-select"
                      formControlName="unidadMedida" name = "unidadMedida">
                    <option value=null>----SELECCIONE----</option>
                    <option *ngFor="let item of listaUnidadMedida; let i = index"
                      value="{{item.valor}}">
                        {{item.descripcionValor}}
                    </option>
                </select>
              </div>
                     
            </div>
          </div>
          <div class="form-row" [hidden]="crear">
            <div class="col-lg-5"> 
              <label>Fecha creacion</label>
              <input type="datetime-local"
                    class="form-control"
                    formControlName="fechaCreacion"
                    name="fechaCreacion"
                    placeholder="Fecha creacion">

              <label>Fecha modificacion</label>
              <input type="datetime-local"
                    class="form-control"
                    formControlName="fechaModificacion"
                    name="fechaModificacion"
                    placeholder="Fecha modificacion">
            </div>
            <div class="col-lg-5"> 
              <label>Usuario creacion</label>
              <input type="text"
                    class="form-control"
                    formControlName="usuarioCreacion"
                    name="usuarioCreacion"
                    placeholder="Usuario creacion">

              <label>Usuario modificacion</label>
              <input type="text"
                    class="form-control"
                    formControlName="usuarioModificacion"
                    name="usuarioModificacion"
                    placeholder="Usuario modificacion">
            </div> 
          </div>
          <br>
          <hr>
          <br>
          <div class="form-group text-center">
            <button type="submit"
                    class="btn btn-primary ">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <button (click)="limpiar()" [hidden]="!crear" class="btn btn-warning">Limpiar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
