<head>
  <link rel="stylesheet" href="stock.component.css">
</head>

<body>
  <h1>Stock </h1>
  <hr>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/stocks">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
      <div class="card">
        <div class="card-header">
                Datos Stock
        </div>
        <div class="card-body">

          <form [formGroup]="stockForm" (ngSubmit)="guardar( )">
            
            <!-- Datos Stock-->
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="form-group" [hidden]="crear">
                  <label><b>Id</b></label>
                  <input type="number"
                        class="form-control"
                        placeholder="Id"
                        placeholder="stockId"
                        formControlName="stockId" 
                        name="id">
                  <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div formGroupName="insumos" >
                  <label><b>Insumo id </b></label>
                  <div class="input-group mb-3">  
                      <input type="number"
                          class="form-control"
                          placeholder="Insumo id"                      
                          name="insumoId"
                          formControlName="insumoId"
                          [class.is-invalid]="insumoIdNoValido">
                      <div class="input-group-append">
                        <button class="btn btn-outline-info" 
                              (click)="obtenerInsumo($event)">
                              Buscar
                        </button>
                      </div>                  
                    <small *ngIf="insumoIdNoValido" class="text-danger">
                      Ingrese el insumo id
                    </small>

                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <button type="button" class="btn btn-primary" 
                              (click)="openModal(editProfileModal)"><i class="fas fa-search"></i></button>
                  </div>

                  <!--Modal buscador de insumos-->
                  <ng-template #editProfileModal let-modal>
                        <div class="modal-header">
                              <h3 class="modal-title" id="editProfileLabel">Buscador Insumos</h3>
                              <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                              <span aria-hidden="true">&times;</span> 
                              </button>
                        </div>
                        <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                              Debe ingresar como m&iacute;nimo un dato de b&uacute;squeda
                              <button type="button" (click)="cerrarAlert()" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                        <div class="modal-body">
                              <form [formGroup]="buscadorForm" (ngSubmit)="buscadorInsumos($event)">
                                    <div class="form-row justify-content-center">
                                          <div> 
                                            <div>
                                              <mat-form-field appearance="legacy">
                                                    <mat-label>Insumo id</mat-label>
                                                    <input matInput type="number" placeholder="Insumo id" 
                                                          formControlName="insumoId" id="insumoId">
                                              </mat-form-field>   
                                              <mat-form-field appearance="legacy">
                                                <mat-label>Fecha vencimiento</mat-label>
                                                <input matInput type="date" placeholder="Fecha vencimiento" 
                                                      formControlName="fechaVencimiento" id="fechaVencimiento">
                                              </mat-form-field>
                                            </div>                                            
                                            <div>                                                   
                                              <mat-form-field appearance="legacy">
                                                <mat-label>C&oacute;digo</mat-label>
                                                <input matInput type="text" placeholder="C&oacute;digo" 
                                                      formControlName="codigo" id="codigo">
                                              </mat-form-field>  
                                              <mat-form-field appearance="legacy">
                                                <mat-label>Descripci&oacute;n</mat-label>
                                                <input matInput type="text" placeholder="Descripci&oacute;n" 
                                                      formControlName="descripcion" id="descripcion">
                                              </mat-form-field>
                                            </div>                                                
                                          </div>
                                          &nbsp; &nbsp; &nbsp;                                                                           
                                          <div class="align-self-center">
                                                <button type="submit" hidden="true" class="btn btn-success">Buscar</button>
                                                <button (click)="limpiarModal($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>                                                                            
                                          </div>
                                    </div>
                              </form>
                              <br>

                              <!--Tabla vacia-->
                              <div class="table-responsive table-hover">
                                    <table datatable [dtOptions]="dtOptions" class="table-bordered"
                                    *ngIf="!cargando && insumos.length === 0">
                                          <thead>
                                                <tr class="table-primary">
                                                  <th>Id</th>
                                                  <th>C&oacute;digo</th>
                                                  <th>Descripcion</th>
                                                  <th>Fecha Vencimiento</th>
                                                </tr>
                                          </thead>                                                                                    
                                    </table>
                              </div>
                              <div class="table-responsive table-hover">
                                    <table datatable [dtOptions]="dtOptions" class="table-bordered"
                                          *ngIf="insumos.length > 0">
                                          <thead>
                                                <tr  class="table-primary">
                                                  <th>Id</th>
                                                  <th>C&oacute;digo</th>
                                                  <th>Descripcion</th>
                                                  <th>Fecha Vencimiento</th>
                                                </tr>
                                          </thead>
                                          <tbody *ngIf="insumos?.length != 0">
                                                <tr *ngFor="let insumo of insumos" 
                                                      (click)="selectInsumo($event, insumo)">                                                                                                
                                                      <td>{{ insumo.insumoId }}</td>
                                                      <td>{{ insumo.codigo }}</td>
                                                      <td>{{ insumo.descripcion }}</td>
                                                      <td>{{ insumo.fechaVencimiento| date : 'dd-MM-yyyy' }}</td>
                                                </tr>
                                          </tbody>
                                          <tbody *ngIf="cargando">
                                                <td></td>
                                                <td></td>
                                                <td><h4 class="alert-heading">Cargando</h4>
                                                      <p>
                                                            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                                      </p>
                                                      <p class="mb-0">
                                                            Espere por favor
                                                      </p>
                                                </td>
                                                <td></td>
                                          </tbody>                                                                                    
                                    </table>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
                              </div>
                        </div>
                  </ng-template>

                  <div class="form-group">
                    <label><b>C&oacute;digo</b></label>
                      <input type="text"
                            class="form-control"
                            placeholder="C&oacute;digo"                      
                            name="codigo"
                            formControlName="codigo">                      
                  </div>

                  <div class="form-group">
                    <label><b>Descripci&oacute;n</b></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Descripci&oacute;n"
                          formControlName="descripcion"
                          name="descripcion">                    
                  </div>
                </div>

                <div class="form-group">
                  <label><b>Cantidad</b></label>
                  <input type="number"
                        class="form-control"
                        placeholder="Cantidad"                      
                        name="cantidad"
                        formControlName="cantidad"
                        [class.is-invalid]="cantidadNoValido">
                    <small *ngIf="cantidadNoValido" class="text-danger">
                      Ingrese la cantidad
                    </small>
                </div>

                <div class="form-group">
                  <label><b>Unidad Medida</b></label>
                  <select class="custom-select"
                        formControlName="unidadMedida" name = "unidadMedida">
                      <option value=null>Seleccione</option>
                      <option *ngFor="let item of listaUnidadMedida; let i = index"
                        value="{{item.valor}}">
                          {{item.descripcionValor}}
                      </option>
                  </select>
                </div>
                      
              </div>
            </div>
            <div class="form-row justify-content-center" [hidden]="crear">
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Fecha creaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaCreacion"
                        name="fechaCreacion"
                        placeholder="Fecha creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Fecha modificaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaModificacion"
                        name="fechaModificacion"
                        placeholder="Fecha modificaci&oacute;n">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Usuario creaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioCreacion"
                        name="usuarioCreacion"
                        placeholder="Usuario creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Usuario modificaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioModificacion"
                        name="usuarioModificacion"
                        placeholder="Usuario modificaci&oacute;n">
                </div>
              </div> 
            </div>
            <hr>
            <br>
            <div class="form-group text-center">
              <button type="submit"
                      class="btn btn-primary ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              &nbsp;&nbsp;
              <button (click)="limpiar()" [hidden]="!crear" 
                    class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>