<head>
  <link rel="stylesheet" href="citas.component.css">
</head>

<body>
  <h1>Listado de Citas</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">    
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div> 
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Cita id</mat-label>
                <input matInput matInput type="number" placeholder="Cita id" 
                  formControlName="citaId" name="citaId" id="citaId">
              </mat-form-field>
            </p>

            <div formGroupName="areas">
              <mat-form-field appearance="fill">
                <mat-label>&Aacute;rea</mat-label>
                <mat-select formControlName="areaId" name="areaId">
                  <mat-option value=null>TODOS</mat-option>
                  <mat-option *ngFor="let item of listaAreas; let i = index"
                    value="{{item.areaId}}">
                    {{item.codigo}} - {{item.descripcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Fecha cita</mat-label>
                <input matInput matInput type="date" placeholder="Fecha cita" 
                  formControlName="fecha" name="fecha" id="fecha">
              </mat-form-field>
            </p>

            <!--p>
              <mat-form-field appearance="fill">
                <mat-label>Hora cita</mat-label>
                <input matInput matInput type="time"  placeholder="Hora cita" 
                  formControlName="hora" name="hora" id="hora">
              </mat-form-field>
            </p-->

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" name = "estado">
                  <mat-option value="null">TODOS</mat-option>
                  <mat-option *ngFor="let item of listaEstados; let i = index"
                    value="{{item.valor}}">
                    {{item.descripcionValor}}</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div formGroupName="pacientes"> 

            <div class="form group">              
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente id</mat-label>
                  <input matInput matInput type="number" placeholder="Paciente id" 
                    formControlName="pacienteId" name="pacienteId" id="pacienteId">
                </mat-form-field>
                &nbsp; 
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <button type="button" class="btn btn-primary" 
                      (click)="openModalPacientes(modalPacientes)"><i class="fas fa-search"></i></button>
              </p>     
                <!--Modal buscador de pacientes-->
                <ng-template #modalPacientes let-modal>
                  <div class="modal-header">
                  <h3 class="modal-title" id="modalPacientesLabel">Buscador Pacientes</h3>
                  <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <span aria-hidden="true">&times;</span> 
                  </button>
                  </div>
                  <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        Debe ingresar como m&iacute;nimo un dato de b&uacute;squeda
                        <button type="button" (click)="cerrarAlert()" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="buscadorPacientesForm" (ngSubmit)="buscadorPacientes($event)">
                      <div class="form-row justify-content-center">
                        <div>                                                                                                                                                          
                          <mat-form-field appearance="legacy">
                                <mat-label>C&eacute;dula</mat-label>
                                <input matInput type="text" placeholder="C&eacute;dula" 
                                      formControlName="cedula" id="cedula">
                          </mat-form-field>                                                                                                                                                         
                          <mat-form-field appearance="legacy">
                                <mat-label>Nombres</mat-label>
                                <input matInput type="text" placeholder="Nombres" 
                                      formControlName="nombres" id="nombres">
                          </mat-form-field>
                          <mat-form-field appearance="legacy">
                                <mat-label>Apellidos</mat-label>
                                <input matInput type="text" placeholder="Apellidos" 
                                      formControlName="apellidos" id="apellidos">
                          </mat-form-field>
                        </div>
                        &nbsp;                                                                            
                        <div class="align-self-center">
                              <button type="submit" hidden="true" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
                              <button (click)="limpiarModalPacientes($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>                                                                            
                        </div>
                      </div>
                    </form>
                    <br>

                    <!--Tabla vacia-->
                    <div class="table-responsive table-hover">
                          <table datatable [dtOptions]="dtOptionsBuscadorPacientes" class="table-bordered"
                          *ngIf="!cargando && pacientes.length === 0">
                                <thead>
                                      <tr class="table-primary">
                                            <th>Id</th>
                                            <th>C&eacute;dula</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                      </tr>
                                </thead>                                                                                    
                          </table>
                    </div>
                    <div class="table-responsive table-hover">
                          <table datatable [dtOptions]="dtOptionsBuscadorPacientes" class="table-bordered"
                                *ngIf="pacientes.length > 0">
                                <thead>
                                      <tr  class="table-primary">
                                            <th>Id</th>
                                            <th>C&eacute;dula</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                      </tr>
                                </thead>
                                <tbody *ngIf="pacientes?.length != 0">
                                      <tr *ngFor="let paciente of pacientes" 
                                            (click)="selectPaciente($event, paciente)">                                                                                                
                                            <td>{{ paciente.pacienteId }}</td>
                                            <td>{{ paciente.personas.cedula }}</td>
                                            <td>{{ paciente.personas.nombres }}</td>
                                            <td>{{ paciente.personas.apellidos }}</td>
                                      </tr>
                                </tbody>
                                <tbody *ngIf="cargando">
                                      <td></td>
                                      <td></td>
                                      <td><h4 class="alert-heading">Cargando</h4>
                                            <p>
                                                  <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                            </p>
                                            <p class="mb-0">
                                                  Espere por favor
                                            </p>
                                      </td>
                                      <td></td>
                                </tbody>                                                                                    
                          </table>
                    </div>
                    <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
                    </div>
                  </div>
                </ng-template>

              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente c&eacute;dula</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente c&eacute;dula" 
                    formControlName="pacienteCedula" name="pacienteCedula" id="pacienteCedula">
                </mat-form-field>
              </p>
              
            </div>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div formGroupName="funcionarios">
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario id</mat-label>
                <input matInput matInput type="number" placeholder="Funcionario id" 
                  formControlName="funcionarioId" name="funcionarioId" id="funcionarioId">
              </mat-form-field>
              &nbsp;
              <button type="button" class="btn btn-primary" 
                (click)="openModalFuncionarios(modalFuncionarios)"><i class="fas fa-search"></i></button>
            </p>
              <!--Modal buscador de funcionarios-->
              <ng-template #modalFuncionarios let-modal>
                <div class="modal-header">
                <h3 class="modal-title" id="modalFuncionariosLabel">Buscador Funcionarios</h3>
                <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                      <span aria-hidden="true">&times;</span> 
                </button>
                </div>
                <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                      Debe ingresar como m&iacute;nimo un dato de b&uacute;squeda
                      <button type="button" (click)="cerrarAlert()" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                      <form [formGroup]="buscadorFuncionariosForm" (ngSubmit)="buscadorFuncionarios($event)">
                            <div class="form-row justify-content-center">
                                  <div>                                                                                                                                                          
                                        <mat-form-field appearance="legacy">
                                              <mat-label>C&eacute;dula</mat-label>
                                              <input matInput type="text" placeholder="C&eacute;dula" 
                                                    formControlName="cedula" id="cedula">
                                        </mat-form-field>                                                                                                                                                         
                                        <mat-form-field appearance="legacy">
                                              <mat-label>Nombres</mat-label>
                                              <input matInput type="text" placeholder="Nombres" 
                                                    formControlName="nombres" id="nombres">
                                        </mat-form-field>
                                        <mat-form-field appearance="legacy">
                                              <mat-label>Apellidos</mat-label>
                                              <input matInput type="text" placeholder="Apellidos" 
                                                    formControlName="apellidos" id="apellidos">
                                        </mat-form-field>
                                  </div>
                                  &nbsp;                                                                            
                                  <div class="align-self-center">
                                        <button type="submit" hidden="true" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
                                        <button (click)="limpiarModalFuncionarios($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>                                                                            
                                  </div>
                            </div>
                      </form>
                      <br>

                      <!--Tabla vacia-->
                      <div class="table-responsive table-hover">
                            <table datatable [dtOptions]="dtOptionsBuscadorFuncionarios" class="table-bordered"
                            *ngIf="!cargando && funcionarios.length === 0">
                                  <thead>
                                        <tr class="table-primary">
                                              <th>Id</th>
                                              <th>C&eacute;dula</th>
                                              <th>Nombres</th>
                                              <th>Apellidos</th>
                                        </tr>
                                  </thead>                                                                                    
                            </table>
                      </div>
                      <div class="table-responsive table-hover">
                            <table datatable [dtOptions]="dtOptionsBuscadorFuncionarios" class="table-bordered"
                                  *ngIf="funcionarios.length > 0">
                                  <thead>
                                        <tr  class="table-primary">
                                              <th>Id</th>
                                              <th>C&eacute;dula</th>
                                              <th>Nombres</th>
                                              <th>Apellidos</th>
                                        </tr>
                                  </thead>
                                  <tbody *ngIf="funcionarios?.length != 0">
                                        <tr *ngFor="let funcionario of funcionarios" 
                                              (click)="selectFuncionario($event, funcionario)">                                                                                                
                                              <td>{{ funcionario.funcionarioId }}</td>
                                              <td>{{ funcionario.personas.cedula }}</td>
                                              <td>{{ funcionario.personas.nombres }}</td>
                                              <td>{{ funcionario.personas.apellidos }}</td>
                                        </tr>
                                  </tbody>
                                  <tbody *ngIf="cargando">
                                        <td></td>
                                        <td></td>
                                        <td><h4 class="alert-heading">Cargando</h4>
                                              <p>
                                                    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                              </p>
                                              <p class="mb-0">
                                                    Espere por favor
                                              </p>
                                        </td>
                                        <td></td>
                                  </tbody>                                                                                    
                            </table>
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
                      </div>
                </div>
              </ng-template>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario c&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario c&eacute;dula" 
                  formControlName="funcionarioCedula" name="funcionarioCedula" id="funcionarioCedula">
              </mat-form-field>
            </p>
            <!--p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario id</mat-label>
                <input matInput matInput type="number" placeholder="Funcionario id" 
                  formControlName="funcionarioId" name="funcionarioId" id="funcionarioId">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario c&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario c&eacute;dula" 
                  formControlName="funcionarioCedula" name="funcionarioCedula" id="funcionarioCedula">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario nombres</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario nombres" 
                  formControlName="funcionarioNombres" name="funcionarioNombres" id="funcionarioNombres">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Paciente apellidos" 
                  formControlName="funcionarioApellidos" name="funcionarioApellidos" id="funcionarioApellidos">
              </mat-form-field>
            </p-->
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorCitas($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>       
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/cita/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <div class="card">
    <div class="table-responsive table-hover">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Paciente id</th>
            <th scope="col">Paciente c&eacute;dula</th>
            <th scope="col">Paciente nombres</th>
            <th scope="col">Paciente apellidos</th>
            <th scope="col">Funcionario id</th>
            <th scope="col">Funcionario c&eacute;dula</th>
            <th scope="col">Funcionario nombres</th>
            <th scope="col">Funcionario apellidos</th>
            <th scope="col">Codigo &aacute;rea</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <!--th scope="col">Borrar</th-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ cita.citaId }}</td>
            <td>{{ cita.pacientes.pacienteId }}</td>
            <td>{{ cita.pacientes.personas.cedula }}</td>
            <td>{{ cita.pacientes.personas.nombres }}</td>
            <td>{{ cita.pacientes.personas.apellidos }}</td>
            <td>{{ cita.funcionarios.funcionarioId }}</td>
            <td>{{ cita.funcionarios.personas.cedula }}</td>
            <td>{{ cita.funcionarios.personas.nombres }}</td>
            <td>{{ cita.funcionarios.personas.apellidos }}</td>
            <td>{{ cita.areas.codigo }}</td>
            <td>{{ cita.fecha | date : 'dd-MM-yyyy'}}</td>
            <td>{{ cita.hora}}</td>
            <td>{{ cita.estado}}</td>   

            <td>
              <a class="btn btn-info"
                      [routerLink]="['/cita', cita.citaId ]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <!--td (click)="borrarCita($event, cita)">  
              <button class="btn btn-danger">
              <i class="fa fa-trash"></i></button>
            </td-->
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>       
          <td></td>
          <td></td> 
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td> 
          <td></td>
          <td></td> 
          <!--td></td-->
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</body>