<head>
  <link rel="stylesheet" href="fichaClinica.component.css">
</head>

<body>
  <h1>Ficha Cl&iacute;nica </h1>
  <hr>
  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/fichaClinicas">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
      <div class="card">
        <h3 class="card-header">Datos Ficha Cl&iacute;nica</h3>
        <div class="card-body">

                

          <form [formGroup]="fichaClinicaForm" (ngSubmit)="guardar( )">
            
            <!-- Datos FichaClinica-->
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="form-group" [hidden]="crear">
                  <label><b>Id</b></label>
                  <input type="text"
                        class="form-control"
                        placeholder="fichaClinicaId"
                        formControlName="fichaClinicaId" 
                        name="id">
                  <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
              </div>
            </div>
            <br>
            <div class="card border-dark">
              <div class="card-header">Tiene/tuvo infecciones o procedimientos siguientes: </div>
              <div class="card-body text-dark">
                <div class="row">
            
                  <div *ngFor="let patologiaProcedimiento of patologiasProcedimientos; let i=index" class="col-md-2">
                    <label>
                      <input type="checkbox" [value]="patologiaProcedimiento.patologiaProcedimientoId" (change)="onCheckChangePatologiaProcedimiento($event)">
                      {{patologiaProcedimiento.descripcion}}
                    </label>
                  </div>
            
                </div>
              </div>
            </div>
            <br>
            <div class="card border-dark">
              <div class="card-header">Tiene alergia a: </div>
              <div class="card-body text-dark">
                <div class="row">
            
                  <div *ngFor="let alergeno of alergenos; let i=index" class="col-md-2">
                    <label>
                      <input type="checkbox" [value]="alergeno.alergenoId" (change)="onCheckChangeAlergeno($event)">
                      {{alergeno.descripcion}}
                    </label>
                  </div>
            
                </div>
              </div>
            </div>
            <br>
            <div class="card border-dark">
              <div class="card-header">Antecedentes Familiares: </div>
              <div class="card-body text-dark">
                <div class="row">
            
                  <div *ngFor="let patologiaFamiliar of patologiasFamiliares; let i=index" class="col-md-2">
                    <label>
                      <input type="checkbox" [value]="patologiaFamiliar.patologiaProcedimientoId" (change)="onCheckChangePatologiaFamiliar($event)">
                      {{patologiaFamiliar.descripcion}}
                    </label>
                  </div>
            
                </div>
              </div>
            </div>
            <br>
            <div class="card border-dark">
              <div class="card-header">Vacunaci&oacute;n: </div>
              <div class="card-body text-dark">
                <div class="row">
            
                  <div *ngFor="let vacuna of vacunas; let i=index" class="col-md-2">
                    <label>
                      <input type="checkbox" [value]="vacuna.vacunaId" (change)="onCheckChangeVacuna($event)">
                      {{vacuna.descripcion}}
                    </label>
                  </div>
            
                </div>
              </div>
            </div>

            <br>
            <div class="col">
              <div class="row">
                <b>6- Sangra excesivamente por extracciones dentarias o cortaduras:</b>
              </div>
              <div class="row">
                <p>                  
                  <ui-switch uncheckedLabel="no" formControlName="opcion6" checkedLabel="si"></ui-switch>                   
                </p>
              </div>
            </div>
            <br>
            <div class="col">
              <div class="row">
                <b>7- Presenta hematomas con facilidad:</b>
              </div>
              <div class="row">
                <p>                  
                  <ui-switch uncheckedLabel="no" formControlName="opcion7" checkedLabel="si"></ui-switch>                  
                </p>
              </div>
            </div>
            <br>
            <div class="col">
              <div class="row">
                <b>8- Gestante:</b>
              </div>
              <div class="row">
                <p>                  
                  <ui-switch uncheckedLabel="no" formControlName="opcion8" checkedLabel="si"></ui-switch>                  
                </p>
              </div>
            </div>
            <br>
            <div class="col">
              <div class="row">
                <b>9- Lactancia materna:</b>
              </div>
              <div class="row">
                <p>                  
                  <ui-switch uncheckedLabel="no" formControlName="opcion9" checkedLabel="si"></ui-switch>                  
                </p>
              </div>
            </div>
            <br>
            <div class="form-row justify-content-center" [hidden]="crear">
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Fecha creaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaCreacion"
                        name="fechaCreacion"
                        placeholder="Fecha creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Fecha modificaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaModificacion"
                        name="fechaModificacion"
                        placeholder="Fecha modificaci&oacute;n">
                </div>
              </div>

              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Usuario creaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioCreacion"
                        name="usuarioCreacion"
                        placeholder="Usuario creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Usuario modificaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioModificacion"
                        name="usuarioModificacion"
                        placeholder="Usuario modificaci&oacute;n">
                </div>
              </div> 
            </div>
            <hr>
            <br>
            <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              Existen campos obligatorios. Verifique.
              <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group text-center">
              <button type="submit"
                      class="btn btn-primary ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              &nbsp;&nbsp;
              <button (click)="limpiar()" [hidden]="!crear" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>