<head>
  <link rel="stylesheet" href="parametro.component.css">
</head>

<body>
  <h1>Par&aacute;metro </h1>
  <hr>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/parametros">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
      <div class="card">
        <div class="card-header">
               Datos Par&aacute;metro
        </div>
        <div class="card-body">

          <form [formGroup]="parametroForm" (ngSubmit)="guardar( )">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="form-group" [hidden]="crear">
                  <label><b>Id</b></label>
                  <input type="text"
                        class="form-control"
                        placeholder="Id"
                        formControlName="parametroId"
                        name="id">
                  <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5">            
                <div class="form-group">
                  <label><b>C&oacute;digo</b></label>
                  <input type="text"
                        class="form-control"
                        placeholder="C&oacute;digo par&aacute;metro"
                        formControlName="codigoParametro"
                        name="codigoParametro"
                        required>
                </div>
                <div class="form-group">
                  <label><b>Descripci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="descripcion"
                        name="decripcion"
                        placeholder="Descripci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Nombre</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        name="nombre"
                        placeholder="Nombre">
                </div>
                <div class="form-group">
                  <label><b>Valor</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="valor"
                        name="valor"
                        placeholder="Valor">
                </div>
                <div class="form-group">
                  <label><b>Descripci&oacute;n Valor</b></label>
                  <input type="text"
                          class="form-control"
                          formControlName="descripcionValor"
                          name="descripcionValor"
                          placeholder="Descripci&oacute;n valor">
                </div>
                <div class="form-group">
                  <label><b>Estado</b></label>
                  <select class="custom-select"
                    formControlName="estado" name = "estado"
                    uppercase>
                    <option value="A" [selected]="true">ACTIVO</option>
                    <option value="I">INACTIVO</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row justify-content-center" [hidden]="crear">
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Fecha creaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaCreacion"
                        name="fechaCreacion"
                        placeholder="Fecha creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Fecha modificaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaModificacion"
                        name="fechaModificacion"
                        placeholder="Fecha modificaci&oacute;n">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Usuario creaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioCreacion"
                        name="usuarioCreacion"
                        placeholder="Usuario creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Usuario modificaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioModificacion"
                        name="usuarioModificacion"
                        placeholder="Usuario modificaci&oacute;n">
                </div>
              </div> 
            </div>
            <hr>
            <br>
            <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              Existen campos obligatorios. Verifique.
              <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group text-center">
              <button type="submit"
                      class="btn btn-primary ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              &nbsp;  
              <button (click)="limpiar()" [hidden]="!crear" 
                    class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>