<head>
  <link rel="stylesheet" href="procedimientos.component.css">
</head>

<body>
  <h1>Listado de Procedimientos</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">   
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Procedimiento id</mat-label>
                <input matInput matInput type="number" placeholder="Procedimiento id" 
                  formControlName="procedimientoId" name="procedimientoId" id="procedimientoId">
              </mat-form-field>
            </p>
            
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Fecha procedimiento</mat-label>
                <input matInput matInput type="date" placeholder="Fecha cita" 
                  formControlName="fecha" name="fecha" id="fecha">
              </mat-form-field>
            </p>
          </div> 
          &nbsp; &nbsp; &nbsp;
          <div formGroupName="pacientes">  
            <div class="form group">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente id</mat-label>
                  <input matInput matInput type="number" placeholder="Paciente id" 
                    formControlName="pacienteId" name="pacienteId" id="pacienteId">
                </mat-form-field>
              </p>     
  
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente c&eacute;dula</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente c&eacute;dula" 
                    formControlName="pacienteCedula" name="pacienteCedula" id="pacienteCedula">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente nombres</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente nombres" 
                    formControlName="pacienteNombres" name="pacienteNombres" id="pacienteNombres">
                </mat-form-field>
              </p>
  
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente apellidos</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente apellidos" 
                    formControlName="pacienteApellidos" name="pacienteApellidos" id="pacienteApellidos">
                </mat-form-field>
              </p>
            </div>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div formGroupName="funcionarios">            
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario id</mat-label>
                <input matInput matInput type="number" placeholder="Funcionario id" 
                  formControlName="funcionarioId" name="funcionarioId" id="funcionarioId">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario c&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario c&eacute;dula" 
                  formControlName="funcionarioCedula" name="funcionarioCedula" id="funcionarioCedula">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario nombres</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario nombres" 
                  formControlName="funcionarioNombres" name="funcionarioNombres" id="funcionarioNombres">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Paciente apellidos" 
                  formControlName="funcionarioApellidos" name="funcionarioApellidos" id="funcionarioApellidos">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorProcedimientos($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div> 
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/procedimiento/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla vacia-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="procedimientos.length === 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Paciente id</th>
          <th scope="col">Paciente c&eacute;dula</th>
          <th scope="col">Paciente nombres</th>
          <th scope="col">Paciente apellidos</th>
          <th scope="col">Funcionario id</th>
          <th scope="col">Funcionario c&eacute;dula</th>
          <th scope="col">Funcionario nombres</th>
          <th scope="col">Funcionario apellidos</th>
          <th scope="col">InsumoId</th>
          <th scope="col">Fecha procedimiento</th>  
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>    
    </table>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="procedimientos.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Paciente id</th>
          <th scope="col">Paciente c&eacute;dula</th>
          <th scope="col">Paciente nombres</th>
          <th scope="col">Paciente apellidos</th>
          <th scope="col">Funcionario id</th>
          <th scope="col">Funcionario c&eacute;dula</th>
          <th scope="col">Funcionario nombres</th>
          <th scope="col">Funcionario apellidos</th>
          <th scope="col">InsumoId</th>
          <th scope="col">Fecha procedimiento</th>  
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let procedimiento of procedimientos; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ procedimiento.procedimientoId }}</td>
          <td>{{ procedimiento.pacientes.pacienteId }}</td>
          <td>{{ procedimiento.pacientes.personas.cedula }}</td>
          <td>{{ procedimiento.pacientes.personas.nombres }}</td>
          <td>{{ procedimiento.pacientes.personas.apellidos }}</td>
          <td>{{ procedimiento.funcionarios.funcionarioId }}</td>
          <td>{{ procedimiento.funcionarios.personas.cedula }}</td>
          <td>{{ procedimiento.funcionarios.personas.nombres }}</td>
          <td>{{ procedimiento.funcionarios.personas.apellidos }}</td>
          <td>{{ procedimiento.insumoId }}</td>
          <td>{{ procedimiento.fecha | date : 'dd-MM-yyyy HH:mm:ss'}}</td> 

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/procedimiento', procedimiento.procedimientoId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>  
            <button class="btn btn-danger"
            (click)="borrarProcedimiento($event, procedimiento) ">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>       
        <td></td>
        <td>
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td> 
      </tbody>
    </table>
  </div>
  <br><br>
</body>