<div *ngIf="currentFile" class="progress">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }">
    {{ progress }}%
  </div>
</div>

<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)" />
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<form [formGroup]="uploadForm">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Carpeta</label>
    <select class="form-control" id="exampleFormControlSelect1" (change)="listarCarpeta()" formControlName="tipo">
      <option value="H">Historial</option>
      <option value="I">Imagenes</option>
    </select>
  </div>
</form> 

<div class="alert alert-light" role="alert">{{ message }}</div>

<div class="card">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async">
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
    </li>
  </ul>
</div>
