<head>
      <link rel="stylesheet" href="funcionario.component.css">
</head>

<body>
      <h1>Funcionario </h1>
      <hr>

      <div class="row text-right">
            <div class="col">
                  <button class="btn btn-danger"
                              routerLink="/funcionarios">
                        <i class="fa fa-arrow-left"></i>
                        Regresar
                  </button>
            </div>
      </div>

      <div class="row animated fadeIn faster">
            <div class="col">
                  <div class="card">
                        <div class="card-header">
                              Datos del Funcionario
                        </div>
                        <div class="card-body">

                        <form [formGroup]="funcionarioForm" (ngSubmit)="guardar( )">
                              <!-- Funcionario Id-->
                              <div class="row justify-content-center">
                                    <div class="col-lg-5">
                                          <div class="form-group" [hidden]="crear">
                                                <label><b>Funcionario id</b></label>
                                                <input type="number"
                                                      class="form-control"
                                                      placeholder="Funcionario Id"
                                                      formControlName="funcionarioId"
                                                      name="funcionarioId">
                                                <small class="form-text text-muted">Este campo es autogenerado</small>
                                          </div> 
                                    </div>
                              </div>       

                              <!-- Datos Personales-->
                              <div formGroupName="personas" class="row justify-content-center">
                                    <div class="col-lg-5">
                                          <div class="form-group">
                                                <label><b>Persona id</b><span class="requerido"> *</span></label>
                                                <div class="input-group mb-3">
                                                      <input type="number"
                                                            class="form-control"
                                                            placeholder="Id"
                                                            placeholder="Persona Id"
                                                            formControlName="personaId"
                                                            [class.is-invalid]="personaIdNoValido" name="id">
                                                      <div class="input-group-append">
                                                            <button class="btn btn-outline-info" 
                                                                  (click)="obtenerPersona($event)">
                                                                  Buscar
                                                            </button>
                                                      </div>
                                                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                            <button type="button" class="btn btn-primary" 
                                                                  (click)="openModal(editProfileModal)"><i class="fas fa-search"></i></button>
                                                </div>
                                                <small *ngIf="personaIdNoValido" class="text-danger">
                                                      Persona es requerido
                                                </small>
                                                <!--Modal buscador de personas-->
                                                <ng-template #editProfileModal let-modal>
                                                      <div class="modal-header">
                                                            <h3 class="modal-title" id="editProfileLabel">Buscador Personas</h3>
                                                            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span> 
                                                            </button>
                                                      </div>
                                                      <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                                                            Debe ingresar como m&iacute;nimo un dato de b&uacute;squeda
                                                            <button type="button" (click)="cerrarAlert()" class="close" data-dismiss="alert" aria-label="Close">
                                                                  <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                      <div class="modal-body">
                                                            <form [formGroup]="buscadorForm" (ngSubmit)="buscadorPersonas($event)">
                                                                  <div class="form-row justify-content-center">
                                                                        <div>                                                                                                                                                        
                                                                              <mat-form-field appearance="legacy">
                                                                                    <mat-label>C&eacute;dula</mat-label>
                                                                                    <input matInput type="text" placeholder="C&eacute;dula" 
                                                                                          formControlName="cedula" id="cedula">
                                                                              </mat-form-field>                                                                                                                                                         
                                                                              <mat-form-field appearance="legacy">
                                                                                    <mat-label>Nombres</mat-label>
                                                                                    <input matInput type="text" placeholder="Nombres" 
                                                                                          formControlName="nombres" id="nombres">
                                                                              </mat-form-field>
                                                                              <mat-form-field appearance="legacy">
                                                                                    <mat-label>Apellidos</mat-label>
                                                                                    <input matInput type="text" placeholder="Apellidos" 
                                                                                          formControlName="apellidos" id="apellidos">
                                                                              </mat-form-field>
                                                                        </div>
                                                                        &nbsp;                                                                            
                                                                        <div class="align-self-center">
                                                                              <button type="submit" hidden="true" class="btn btn-success">Buscar</button>
                                                                              <button (click)="limpiarModal($event)" class="btn btn-warning">Limpiar</button>                                                                            
                                                                        </div>
                                                                  </div>
                                                            </form>
                                                            <br>

                                                            <!--Tabla vacia-->
                                                            <div class="table-responsive table-hover">
                                                                  <table datatable [dtOptions]="dtOptions" class="table-bordered"
                                                                  *ngIf="!cargando && personas.length === 0">
                                                                        <thead>
                                                                              <tr class="table-primary">
                                                                                    <th>Id</th>
                                                                                    <th>C&eacute;dula</th>
                                                                                    <th>Nombres</th>
                                                                                    <th>Apellidos</th>
                                                                              </tr>
                                                                        </thead>                                                                                    
                                                                  </table>
                                                            </div>
                                                            <div class="table-responsive table-hover">
                                                                  <table datatable [dtOptions]="dtOptions" class="table-bordered"
                                                                        *ngIf="personas.length > 0">
                                                                        <thead>
                                                                              <tr  class="table-primary">
                                                                                    <th>Id</th>
                                                                                    <th>C&eacute;dula</th>
                                                                                    <th>Nombres</th>
                                                                                    <th>Apellidos</th>
                                                                              </tr>
                                                                        </thead>
                                                                        <tbody *ngIf="personas?.length != 0">
                                                                              <tr *ngFor="let persona of personas" 
                                                                                    (click)="selectPersona($event, persona)">                                                                                                
                                                                                    <td>{{ persona.personaId }}</td>
                                                                                    <td>{{ persona.cedula }}</td>
                                                                                    <td>{{ persona.nombres }}</td>
                                                                                    <td>{{ persona.apellidos }}</td>
                                                                              </tr>
                                                                        </tbody>
                                                                        <tbody *ngIf="cargando">
                                                                              <td></td>
                                                                              <td></td>
                                                                              <td><h4 class="alert-heading">Cargando</h4>
                                                                                    <p>
                                                                                          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                                                                                    </p>
                                                                                    <p class="mb-0">
                                                                                          Espere por favor
                                                                                    </p>
                                                                              </td>
                                                                              <td></td>
                                                                        </tbody>                                                                                    
                                                                  </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
                                                            </div>
                                                      </div>
                                                </ng-template>
                                          </div>
                                          <div class="form-group">
                                                <label><b>C&eacute;dula</b></label>
                                                <input type="text"
                                                      class="form-control"
                                                      placeholder="C&eacute;dula"                      
                                                      name="cedula"
                                                      formControlName="cedula">
                                          </div>
                                          
                                          <div class="form-group">
                                                <label><b>Nombres</b></label>
                                                <input type="text"
                                                      class="form-control"
                                                      placeholder="Nombres"
                                                      formControlName="nombres"
                                                      name="nombres">
                                          </div>
                                    
                                          <div class="form-group">
                                                <label><b>Apellidos</b></label>
                                                <input type="text"
                                                      class="form-control"
                                                      formControlName="apellidos"
                                                      name="apellidos"
                                                      placeholder="Apellidos">
                                          </div>                                          
                                    </div>                                    
                              </div>
                              <hr>
                              <!-- Datos del Funcionario-->
                              <div class="form-row justify-content-center">
                                    <div class="col-lg-5"> 
                                          <div>
                                                <div class="form-group" formGroupName="areas">
                                                      <label><b>&Aacute;rea</b><span class="requerido"> *</span></label>
                                                      <select class="form-control input-sm" name="areaId"
                                                            formControlName="areaId" [class.is-invalid]="areaNoValido">
                                                            <option value=null >Seleccionar</option>
                                                            <option *ngFor="let item of listaAreas; let i = index"
                                                                  value="{{item.areaId}}">
                                                                  {{item.codigo}} - {{item.descripcion}}
                                                            </option>
                                                      </select>
                                                      <small *ngIf="areaNoValido" class="text-danger">
                                                            Seleccione el &aacute;rea correspondiente
                                                      </small>
                                                </div>
                                          </div>
                                          <div>
                                                <div class="form-group">
                                                      <label><b>Estado</b></label>
                                                      <select class="custom-select"
                                                            formControlName="estado" name = "estado">
                                                            <option value="A" [selected]="true">ACTIVO</option>
                                                            <option value="I">INACTIVO</option>
                                                      </select>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="col-lg-5"> 
                                          <div class="form-group">
                                                <label><b>Fecha ingreso</b><span class="requerido"> *</span></label>
                                                <input type="date"
                                                      class="form-control"
                                                      placeholder="Fecha Ingreso"
                                                      formControlName="fechaIngreso"
                                                      name="fechaIngreso" [class.is-invalid]="fechaIngresoNoValido">
                                                <small *ngIf="fechaIngresoNoValido" class="text-danger">
                                                      Fecha ingreso es requerido
                                                </small>
                                          </div>
                                          <div class="form-group">
                                                <label><b>Fecha egreso</b></label>
                                                <input type="date"
                                                      class="form-control"
                                                      placeholder="Fecha Egreso"
                                                      formControlName="fechaEgreso"
                                                      name="fechaEgreso">
                                          </div>
                                    </div>
                              </div>

                              
                              <div class="form-row justify-content-center" [hidden]="crear">
                                    <div class="col-lg-5">
                                          <div class="form-group">
                                                <label><b>Fecha creaci&oacute;n</b></label>
                                                <input type="datetime-local"
                                                      class="form-control"
                                                      formControlName="fechaCreacion"
                                                      name="fechaCreacion"  
                                                      placeholder="Fecha creaci&oacute;n">
                                          </div>
                                          <div class="form-group">
                                                <label><b>Fecha modificaci&oacute;n</b></label>
                                                <input type="datetime-local"
                                                      class="form-control"
                                                      formControlName="fechaModificacion"
                                                      name="fechaModificacion"  
                                                      placeholder="Fecha modificaci&oacute;n">
                                          </div>
                                    </div>
                                    <div class="col-lg-5">
                                          <div class="form-group">
                                                <label><b>Usuario creaci&oacute;n</b></label>
                                                <input type="text"
                                                      class="form-control"
                                                      formControlName="usuarioCreacion"
                                                      name="usuarioCreacion"  
                                                      placeholder="Usuario creaci&oacute;n">
                                          </div>
                                          <div class="form-group">
                                                <label><b>Usuario modificaci&oacute;n</b></label>
                                                <input type="text"
                                                      class="form-control"
                                                      formControlName="usuarioModificacion"
                                                      name="usuarioModificacion"  
                                                      placeholder="Usuario modificaci&oacute;n">
                                          </div>
                                    </div>
                              </div> 
                              <hr>
                              <br>
                              <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                    Existen campos obligatorios. Verifique.
                                    <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                              <div class="form-group text-center">
                                    <button type="submit"
                                          class="btn btn-primary ">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                    </button>
                                    &nbsp; 
                                    <button (click)="limpiar($event)" [hidden]="!crear" 
                                                class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
                              </div>       
                        </form>
                        </div>
                  </div>
            </div>
      </div>
</body>