<head>
  <link rel="stylesheet" href="areas.component.css">
</head>

<body>
  <h1>Listado de &Aacute;reas</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">
      <form [formGroup]="buscadorForm">      
        <div class="form-row justify-content-center">
          <div>      
            <p>
              <mat-form-field appearance="fill">
                <mat-label>&Aacute;rea id</mat-label>
                <input matInput matInput type="number" placeholder="&Aacute;rea id" 
                  formControlName="areaId" name="areaId" id="areaId">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&oacute;digo</mat-label>
                <input matInput matInput type="text" placeholder="C&oacute;digo" 
                  formControlName="codigo" name="codigo" id="codigo">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>           
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Descripci&oacute;n</mat-label>
                <input matInput matInput type="text" placeholder="Nombres" 
                  formControlName="descripcion" name="descripcion" id="descripcion">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" name = "estado">
                  <mat-option value="null">TODOS</mat-option>
                  <mat-option value="A">ACTIVO</mat-option>
                  <mat-option value="I">INACTIVO</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>  
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorAreas($event)" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>            
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/area/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla vacia-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="areas.length === 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">C&eacute;dula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Direcci&oacute;n</th>
          <th scope="col">Email</th>
          <th scope="col">Estado civil</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Sexo</th>
          <th scope="col">Tel&eacute;fono</th>
          <th scope="col">Celular</th>    
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>    
    </table>
  </div>
  
  <div class="card">
    <div class="table-responsive table-hover">
      <table datatable [dtOptions]="dtOptions" class="table table-sm" 
        *ngIf="areas.length > 0">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">C&oacute;digo</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha creaci&oacute;n</th>
            <th scope="col">Usuario creaci&oacute;n</th>
            <th scope="col">Fecha modificaci&oacute;n</th>
            <th scope="col">Usuario modificaci&oacute;n</th>     
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let area of areas; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ area.areaId }}</td>
            <td>{{ area.codigo }}</td>
            <td>{{ area.descripcion }}</td>
            <td>{{ area.estado }}</td>
            <td>{{ area.fechaCreacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>{{ area.usuarioCreacion }}</td>
            <td>{{ area.fechaModificacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>{{ area.usuarioModificacion }}</td>     

            <td>
              <a class="btn btn-info"
                      [routerLink]="['/area', area.areaId ]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td (click)="borrarArea($event, area)">  
              <button class="btn btn-danger">
              <i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>       
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>        
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</body>