<head>
  <link rel="stylesheet" href="insumos.component.css">
</head>

<body>
 <h1>Listado de insumos m&eacute;dicos</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">

      <form [formGroup]="buscadorForm">      
        <div class="form-row justify-content-center" >
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Insumo m&eacute;dico id</mat-label>
                <input matInput matInput type="number" placeholder="Insumo m&eacute;dico id" 
                  formControlName="insumoMedicoId" name="insumoMedicoId" id="insumoMedicoId">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&oacute;digo</mat-label>
                <input matInput matInput type="text" placeholder="C&oacute;digo" 
                  formControlName="codigo" name="codigo" id="codigoInsumo">
              </mat-form-field>
            </p>             
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput matInput type="text" placeholder="Nombre" 
                  formControlName="nombre" name="nombre" id="nombre">
              </mat-form-field>
            </p> 
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Caracter&iacute;stica</mat-label>
                <input matInput matInput type="text" placeholder="Caracter&iacute;sticas" 
                  formControlName="caracteristicas" name="caracteristicas" id="caracteristicas">
              </mat-form-field>
            </p>    
          </div>
          &nbsp; &nbsp; &nbsp;          
          <div class="align-self-center">
            <button type="submit" (click)="buscadorInsumos($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
            &nbsp;
            <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>       
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <button routerLink="/insumo/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla Insumos Medicos-->
  <div class="card">
    <div class="table-responsive table-hover">
      <table datatable [dtOptions]="dtOptionsInsumos" [dtTrigger]="dtTriggerInsumos"  
        id = "tableInsumos" class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">C&oacute;digo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Caracter&iacute;sticas</th>
            <th scope="col">Presentaci&oacute;n</th> 
            <th scope="col">Unidad medida</th> 
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let insumo of insumos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ insumo.insumoMedicoId }}</td>
            <td>{{ insumo.codigo }}</td>
            <td>{{ insumo.nombre }}</td>
            <td>{{ insumo.caracteristicas }}</td>
            <td>{{ insumo.presentacion }}</td>
            <td>{{ insumo.unidadMedida }}</td>
            <td (click)="editar($event, insumo.insumoMedicoId)">
              <a class="btn btn-info">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
          <td></td>
          <td></td>   
          <td></td>      
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>
          <td></td>
          <td></td>
          <td></td>   
          <td></td>             
        </tbody>
      </table>
    </div>
  </div>  
  <br><br>
</body>