<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> SIGEBI </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button *ngIf="!isLogged" (click)="onLogOut()">
                        <mat-icon>account_box</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button *ngIf="isLogged" (click)="onLogOut()">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </li>
                
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
