<mat-toolbar class="header">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="container text-right">
            Sistema de Gestión Departamento Bienestar Institucional - SIGEBI
        </div>
        <div class="container text-right">
            <div *ngIf="isLogged; else loggedOut">
                <p>Bienvenido {{nombreUsuario}}. &Aacute;rea: {{area}}</p>
            </div>
            <ng-template #loggedOut><p>No has iniciado sesión</p></ng-template>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">

                <li>
                    <button mat-icon-button *ngIf="!isLogged" (click)="onLogOut()" matTooltipPosition="right"
                    matTooltip="Iniciar Sesion">
                        <mat-icon>account_box</mat-icon> 
                    </button>
                </li>
                <li>
                    <button mat-icon-button *ngIf="isLogged" (click)="onLogOut()" matTooltipPosition="right"
                    matTooltip="Cerrar Sesion">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </li>
                
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
