<head>
  <link rel="stylesheet" href="funcionarios.component.css">
</head>

<body>
  <h1>Listado de Funcionarios</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div>           
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario id</mat-label>
                <input matInput matInput type="number" placeholder="Funcionario id" 
                  formControlName="funcionarioId" name="funcionarioId" id="funcionarioId">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput matInput type="text" placeholder="Nombres" 
                  formControlName="nombres" name="nombres" id="nombres">
              </mat-form-field>
            </p>            
          </div>
          &nbsp;&nbsp;  
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="C&eacute;dula" 
                  formControlName="cedula" name="cedula" id="cedula">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Apellidos" 
                  formControlName="apellidos" name="apellidos" id="apellidos">
              </mat-form-field>
            </p>
          </div>
          &nbsp;&nbsp;  
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" name = "estado">
                  <mat-option value="null">TODOS</mat-option>
                  <mat-option value="A">ACTIVO</mat-option>
                  <mat-option value="I">INACTIVO</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <div formGroupName="areas">
              <mat-form-field appearance="fill">
                <mat-label>&Aacute;rea</mat-label>
                <mat-select formControlName="areaId" name="areaId">
                  <mat-option value=null>TODOS</mat-option>
                  <mat-option *ngFor="let item of listaAreas; let i = index"
                    value="{{item.areaId}}">
                    {{item.codigo}} - {{item.descripcion}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
            <button type="submit" (click)="buscadorFuncionarios($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
            &nbsp;
            <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div> 
        </div>        
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/funcionario/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <div class="card">
    <div class="table-responsive  table-hover">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">C&oacute;digo &aacute;rea</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ funcionario.funcionarioId }}</td>
            <td>{{ funcionario.personas.cedula }}</td>
            <td>{{ funcionario.personas.nombres }}</td>
            <td>{{ funcionario.personas.apellidos }}</td>
            <td>{{ funcionario.areas.codigo }}</td>  
            <td>{{ funcionario.estado }}</td>
            <td (click)="editar($event, funcionario.funcionarioId)">
              <a class="btn btn-info">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td (click)="borrarFuncionario($event, funcionario)">  
              <button class="btn btn-danger">
              <i class="fa fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">         
          <td></td>
          <td></td>
          <td></td>    
          <td></td>  
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>          
          <td></td>
          <td></td>
          <td></td>
          <td></td>          
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</body>