<h1>Listado de Funcionarios</h1>
<hr>

<div class="container">
    <h1>Buscador</h1>
    <div class="form-row">
      <div class="form-group">
        <label for="funcionarioId">Funcionario Id</label>
        <input type="number" class="form-control" id="funcionarioId"
        [(ngModel)]="buscador.funcionarioId" name="funcionarioId">
      </div>

      <div class="form-group">
        <label for="cedula">Cedula</label>
        <input type="text" class="form-control" id="cedula"
        [(ngModel)]="persona.cedula" name="cedula">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="nombres">Nombre</label>
        <input type="text" class="form-control" id="nombres"
        [(ngModel)]="persona.nombres" name="nombres">
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos"
        [(ngModel)]="persona.apellidos" name="apellidos">
      </div>
    </div>

    <div class="col-log-4">
      <div class="form-horizontal">
        <button type="submit"
        (click)="buscadorFuncionarios()" class="btn btn-success">Buscar</button>
        <button type="submit"
        (click)="limpiar()" class="btn btn-warning">Limpiar</button>
      </div>
    </div>
</div>

<div class="row">
  <div class="col text-right">
    <button routerLink="/funcionario/nuevo"
            class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>


<table class="table table-hover  table-responsive table-condensed" *ngIf="!cargando && funcionarios.length > 0"
       class="table mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Cedula</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Area</th>
      <th scope="col">Estado</th>
      <th scope="col">Edad</th>
      <th scope="col">Direccion</th>
      <th scope="col">Email</th>
      <th scope="col">Estado Civil</th>
      <th scope="col">Fecha Nac.</th>
      <th scope="col">Nacionalidad</th>
      <th scope="col">Sexo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Celular</th>
      <th scope="col">Editar/Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let funcionario of funcionarios; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ funcionario.funcionarioId }}</td>
      <td>{{ funcionario.personas.cedula }}</td>
      <td>{{ funcionario.personas.nombres }}</td>
      <td>{{ funcionario.personas.apellidos }}</td>
      <td>{{ funcionario.areaId }}</td>
      <td>{{ funcionario.estado }}</td>
      <td>{{ funcionario.personas.edad }}</td>
      <td>{{ funcionario.personas.direccion }}</td>
      <td>{{ funcionario.personas.email }}</td>
      <td>{{ funcionario.personas.estadoCivil }}</td>
      <td>{{ funcionario.personas.fechaNacimiento }}</td>
      <td>{{ funcionario.personas.nacionalidad }}</td>
      <td>{{ funcionario.personas.sexo }}</td>
      <td>{{ funcionario.personas.telefono }}</td>
      <td>{{ funcionario.personas.celular}}</td>

      <td>

        <button class="btn btn-info"
                [routerLink]="['/funcionario', funcionario.funcionarioId ]">
        <i class="fa fa-edit"></i>
        </button>

        <button class="btn btn-danger"
                (click)="borrarFuncionario( funcionario ) ">
          <i class="fa fa-trash"></i>
        </button>


      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!cargando && funcionarios.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
