<head>
  <link rel="stylesheet" href="horarios.component.css">
</head>

<body>
 <h1>Listado de horarios</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3> 
    <div class="card-body collapse show" id="collapseBuscador"> 
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center" >
          <div>             
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Horario id</mat-label>
                <input matInput matInput type="number" placeholder="Horario id" 
                  formControlName="horarioDisponibleId" name="horarioDisponibleId" id="horarioDisponibleId">
              </mat-form-field>
            </p>
          
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput matInput type="date" placeholder="Fecha" 
                  formControlName="fecha" name="fecha" id="fecha">
              </mat-form-field>
            </p>
          
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" name = "estado">
                  <mat-option value="null">TODOS</mat-option>
                  <mat-option value="A">ACTIVO</mat-option>
                  <mat-option value="I">INACTIVO</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>

          <div formGroupName="funcionarios"> 
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario id</mat-label>
                <input matInput matInput type="number" placeholder="Funcionario id" 
                  formControlName="funcionarioId" name="funcionarioId" id="funcionarioId">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Funcionario c&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario c&eacute;dula" 
                  formControlName="cedula" name="cedula" id="cedula">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Funcionario nombres</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario nombres" 
                  formControlName="nombres" name="nombres" id="nombres">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Funcionario apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Funcionario apellidos" 
                  formControlName="apellidos" name="apellidos" id="apellidos">
              </mat-form-field>
            </p>           
          </div> 
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorHorarios($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>                
        </div>            
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/horario/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla vacia-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="!cargando && horarios.length === 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora inicio</th>
          <th scope="col">Hora fin</th>
          <th scope="col">Funcionario id</th>
          <th scope="col">Funcionario c&eacute;dula</th>
          <th scope="col">Funcionario nombres</th>
          <th scope="col">Funcionario apellidos</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha creaci&oacute;n</th>
          <th scope="col">Usuario creaci&oacute;n</th>
          <th scope="col">Fecha modificaci&oacute;n</th>
          <th scope="col">Usuario modificaci&oacute;n</th>    
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>    
    </table>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
    *ngIf="horarios.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora inicio</th>
          <th scope="col">Hora fin</th>
          <th scope="col">Funcionario id</th>
          <th scope="col">Funcionario c&eacute;dula</th>
          <th scope="col">Funcionario nombres</th>
          <th scope="col">Funcionario apellidos</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha creaci&oacute;n</th>
          <th scope="col">Usuario creaci&oacute;n</th>
          <th scope="col">Fecha modificaci&oacute;n</th>
          <th scope="col">Usuario modificaci&oacute;n</th>    
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ horario.horarioDisponibleId }}</td>
          <td>{{ horario.fecha | date : 'dd-MM-yyyy' }}</td>
          <td>{{ horario.horaInicio }}</td>
          <td>{{ horario.horaFin }}</td>
          <td>{{ horario.funcionarios.funcionarioId }}</td>
          <td>{{ horario.funcionarios.personas.cedula }}</td>
          <td>{{ horario.funcionarios.personas.nombres }}</td>
          <td>{{ horario.funcionarios.personas.apellidos }}</td>
          <td>{{ horario.estado }}</td>
          <td>{{ horario.fechaCreacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
          <td>{{ horario.usuarioCreacion }}</td>
          <td>{{ horario.fechaModificacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
          <td>{{ horario.usuarioModificacion }}</td>      

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/horario', horario.horarioDisponibleId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td (click)="borrarHorario($event, horario)">  
            <button class="btn btn-danger">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">    
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
  </div>
  <br><br>
</body>