
<h1>Historial Clinico </h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/historialesClinicos">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <div class="card">
      <div class="card-header">
              Datos del Historial Clinico
      </div>
      <div class="card-body">

            <form [formGroup]="historialClinicoForm" (ngSubmit)="guardar( )">
                  <div class="form-row">
                        <div class="col-lg-5">
                              <!-- HistorialClinico Id-->
                              <div class="form-group" [hidden]="crear">
                                    <label>HistorialClinico Id</label>
                                    <input type="number"
                                          class="form-control"
                                          placeholder="HistorialClinico Id"
                                          formControlName="historialClinicoId"
                                          name="historialClinicoId">
                                    <small class="form-text text-muted">Este campo es autogenerado</small>
                              </div>                       
        
                              <!-- Datos Paciente-->
                              <div formGroupName="pacientes">                              
                                    <div class="form group">
                                          <label>Paciente Id</label>
                                          <div class="input-group mb-3">
                                                <input type="number"
                                                      class="form-control"
                                                      placeholder="ID"
                                                      formControlName="pacienteId"
                                                      name="pacienteId">
                                                <div class="input-group-append">
                                                      <button class="btn btn-outline-info" 
                                                            (click)="obtenerPaciente( )">
                                                            Buscar
                                                      </button>
                                                </div>
                                          </div>
                                    </div>
                                    <div formGroupName="personas">
                                          <label>C.I</label>
                                          <input type="text"
                                                class="form-control"
                                                placeholder="Cedula"
                                                formControlName="cedula"
                                                name="pacientePersona.cedula">
                              
                                          <label>Nombres</label>
                                          <input type="text"
                                                class="form-control"
                                                placeholder="Nombres"
                                                formControlName="nombres"
                                                name="pacientePersona.nombres">
                                    
                                          <label>Apellidos</label>
                                          <input type="text"
                                                class="form-control"
                                                formControlName="apellidos"
                                                name="pacientePersona.apellidos"  
                                                placeholder="Apellidos">                              
                                    </div>                              
                              </div>
                        </div>
                        <div class="col-lg-5">
                              <label>Area</label>
                              <select class="form-control input-sm" name="areaId"
                                    formControlName="areaId" 
                                    [class.is-invalid]="areaNoValido">
                                    <option value=null>----SELECCIONE----</option>
                                    <option *ngFor="let item of listaAreas; let i = index"
                                    value="{{item.areaId}}">
                                    {{item.codigo}} - {{item.descripcion}}
                                    </option>
                              </select>
                              <small *ngIf="areaNoValido" class="text-danger">
                                    Seleccione el area
                              </small>
                              
                              <!--div [hidden]="crear">
                                    <button class="btn btn-info"
                                                [routerLink]="['/historialClinicoAdjunto', hcid ]">
                                          <i class="fa fa-edit"></i>
                                          Adjuntar Archivo
                                    </button>
                              </div-->
                        </div>  
                        
                  </div>
                  <br>
                  <div>
                        <div class="input-group mb-3">    
                              <div class="form-group">
                                    <label for="inputGroupFile02">Adjuntar Archivo</label>
                                    <input type="file" class="form-control-file" 
                                          (change)="selectFile($event)" id="inputGroupFile02" >                                    
                              </div>                                                                     
                        </div>
                        
                        <div class="alert alert-light" role="alert">{{ message }}</div>
                        
                        <div class="card" [hidden]="crear">
                              <div class="card-header">Lista de archivos</div>
                              <ul class="list-group list-group-flush"
                                    *ngFor="let file of fileInfos | async">
                                    <li class="list-group-item">
                                          <a href="{{ file.url }}">{{ file.name }}</a>
                                    </li>
                              </ul>
                        </div>                       
                  </div>

                  <hr>
                  <div class="form-row" [hidden]="crear">
                        <div class="col-lg-5"> 
                              <label>Fecha creacion</label>
                              <input type="datetime-local"
                                    class="form-control"
                                    formControlName="fechaCreacion"
                                    name="fechaCreacion"  
                                    placeholder="Fecha creacion">

                              <label>Fecha modificacion</label>
                              <input type="datetime-local"
                                    class="form-control"
                                    formControlName="fechaModificacion"
                                    name="fechaModificacion"  
                                    placeholder="Fecha modificacion">  
                        </div>

                        <div class="col-lg-5">                                                 
                              <label>Usuario creacion</label>
                              <input type="text"
                                    class="form-control"
                                    formControlName="usuarioCreacion"
                                    name="usuarioCreacion"  
                                    placeholder="Usuario creacion">
                        
                              <label>Usuario modificacion</label>
                              <input type="text"
                                    class="form-control"
                                    formControlName="usuarioModificacion"
                                    name="usuarioModificacion"  
                                    placeholder="Usuario modificacion">                                    
                        </div>                        
                  </div>
                  <br>
                  <hr>
                  <br>
                  <div class="form-group text-center">
                        <button type="submit" 
                              class="btn btn-primary"
                              (click)="guardar( )">
                        <i class="fa fa-save"></i>
                        Guardar
                        </button>
                        <button (click)="limpiar()" [hidden]="!crear" class="btn btn-warning">Limpiar</button>
                  </div>

            </form>
      </div>
    </div>

  </div>
</div>
