<head>
  <link rel="stylesheet" href="historialesClinicos.component.css">
</head>

<body>
  <h1>Listado de Historiales Cl&iacute;nicos</h1>
  <hr>

  <div class="card">
    <h3 class="card-header">Buscador</h3> 
    <div class="card-body">    
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div class="col-lg-5">
            <div class="form group">
              <div class="form-group form-inline col-md-5">
                <label for="historialClinicoId" class="col-sm-7 col-form-label"><b>Historial cl&iacute;nico id</b></label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="historialClinicoId"
                  formControlName="historialClinicoId" name="historialClinicoId">
                </div>
              </div>

              <div class="form-group form-inline col-md-5">
                <label for="areaId" class="col-sm-7 col-form-label"><b>&Aacute;rea</b></label>
                <div class="col-sm-3">
                  <select class="form-control input-sm" name="areaId"
                      formControlName="areaId">
                      <option value=null [selected]="true">TODOS</option>
                      <option *ngFor="let item of listaAreas; let i = index"
                      value="{{item.areaId}}">
                      {{item.codigo}} - {{item.descripcion}}
                      </option>
                  </select>
                </div>
              </div>            
            </div>
          </div>
        
          <div formGroupName="pacientes" class="col-lg-5">  
            <div class="form group">
              <div class="form-group form-inline col-md-5">
                <label for="pacienteId" class="col-sm-7 col-form-label"><b>Paciente id</b></label>
                <div class="col-sm-3">
                  <input type="number" class="form-control"
                  formControlName="pacienteId" name="pacienteId">
                </div>
              </div>
              <div class="form-group form-inline col-md-5">
                <label for="pacienteCedula" class="col-sm-7 col-form-label"><b>Paciente c&eacute;dula</b></label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="pacienteCedula"
                  formControlName="pacienteCedula" name="pacienteCedula">
                </div>
              </div>
              <div class="form-group form-inline col-md-5">
                <label for="pacienteNombres" class="col-sm-7 col-form-label"><b>Paciente nombres</b></label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="pacienteNombres"
                  formControlName="pacienteNombres" name="pacienteNombres">
                </div>
              </div>
              <div class="form-group form-inline col-md-5">
                <label for="pacienteApellidos" class="col-sm-7 col-form-label"><b>Paciente apellidos</b></label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="pacienteApellidos"
                  formControlName="pacienteApellidos" name="pacienteApellidos">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-log-4" class="text-center">
          <div class="form-horizontal">
            <button type="submit" (click)="buscadorHistorialClinicos($event)" class="btn btn-success">Buscar</button>
            <button (click)="limpiar()" class="btn btn-warning">Limpiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/historialClinico/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" 
      class="table table-hover table-responsive table-condensed table-bordered" 
      *ngIf="!cargando && historialClinicos.length > 0"
      class="table mt-3 animated fadeIn faster animated fadeIn faster">
      <thead class="table-info">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Paciente id</th>
          <th scope="col">Paciente c&eacute;dula</th>
          <th scope="col">Paciente nombres</th>
          <th scope="col">Paciente apellidos</th>
          <th scope="col">&Aacute;rea id</th>   
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
      </thead>
      <tbody>
        <tr *ngFor="let historialClinico of historialClinicos; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ historialClinico.historialClinicoId }}</td>
          <td>{{ historialClinico.pacientes.pacienteId }}</td>
          <td>{{ historialClinico.pacientes.personas.cedula }}</td>
          <td>{{ historialClinico.pacientes.personas.nombres }}</td>
          <td>{{ historialClinico.pacientes.personas.apellidos }}</td>
          <td>{{ historialClinico.areaId }}</td>     

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/historialClinico', historialClinico.historialClinicoId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>  
            <button class="btn btn-danger"
            (click)="borrarHistorialClinico($event, historialClinico) ">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!cargando && historialClinicos.length === 0"
        class="alert alert-warning text-center mt-3 animated fadeIn faster">    
        <h4 class="alert-heading">Cargando</h4>
        <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
          Espere por favor
        </p>
      </tbody>
    </table>
  </div>
</body>