<head>
  <link rel="stylesheet" href="historialesClinicos.component.css">
</head>

<body>
  <h1>Listado de Historiales Cl&iacute;nicos</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3> 
    <div class="card-body collapse show" id="collapseBuscador"> 
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Historial cl&iacute;nico id</mat-label>
                <input matInput matInput type="number" placeholder="Historial cl&iacute;nico id" 
                  formControlName="historialClinicoId" name="historialClinicoId" id="historialClinicoId">
              </mat-form-field>
            </p>

            <mat-form-field appearance="fill">
              <mat-label>&Aacute;rea</mat-label>
              <mat-select formControlName="areaId" name="areaId">
                <mat-option value=null>TODOS</mat-option>
                <mat-option *ngFor="let item of listaAreas; let i = index"
                  value="{{item.areaId}}">
                  {{item.codigo}} - {{item.descripcion}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div formGroupName="pacientes">  
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente id</mat-label>
                  <input matInput matInput type="number" placeholder="Paciente id" 
                    formControlName="pacienteId" name="pacienteId" id="pacienteId">
                </mat-form-field>
 
                <mat-form-field appearance="fill">
                  <mat-label>Paciente c&eacute;dula</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente c&eacute;dula" 
                    formControlName="pacienteCedula" name="pacienteCedula" id="pacienteCedula">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Paciente nombres</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente nombres" 
                    formControlName="pacienteNombres" name="pacienteNombres" id="pacienteNombres">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                  <mat-label>Paciente apellidos</mat-label>
                  <input matInput matInput type="text" placeholder="Paciente apellidos" 
                    formControlName="pacienteApellidos" name="pacienteApellidos" id="pacienteApellidos">
                </mat-form-field>
              </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorHistorialClinicos($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/historialClinico/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla vacia-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="!cargando && historialClinicos.length === 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Paciente id</th>
          <th scope="col">Paciente c&eacute;dula</th>
          <th scope="col">Paciente nombres</th>
          <th scope="col">Paciente apellidos</th>
          <th scope="col">&Aacute;rea id</th>   
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>    
    </table>
  </div>

  <!--Tabla de datos-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
    *ngIf="historialClinicos.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Paciente id</th>
          <th scope="col">Paciente c&eacute;dula</th>
          <th scope="col">Paciente nombres</th>
          <th scope="col">Paciente apellidos</th>
          <th scope="col">&Aacute;rea id</th>   
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historialClinico of historialClinicos; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ historialClinico.historialClinicoId }}</td>
          <td>{{ historialClinico.pacientes.pacienteId }}</td>
          <td>{{ historialClinico.pacientes.personas.cedula }}</td>
          <td>{{ historialClinico.pacientes.personas.nombres }}</td>
          <td>{{ historialClinico.pacientes.personas.apellidos }}</td>
          <td>{{ historialClinico.areaId }}</td>     

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/historialClinico', historialClinico.historialClinicoId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td (click)="borrarHistorialClinico($event, historialClinico)">  
            <button class="btn btn-danger">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">    
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
  </div>
  <br><br>
</body>