<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">

      SIGEBI-Login

    </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" >
      <mat-form-field>
        <input matInput  placeholder="Usuario">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password"  placeholder="Contraseña">
      </mat-form-field>
      <button mat-raised-button type="submit">Ingresar</button>
    </form>
  </mat-card>
</div>
