<h1>Listado de stock</h1>
<hr>

<div class="card">
  <div class="card-header">
    Buscador
  </div>  
  <div class="card-body">
    <form [formGroup]="buscadorForm">
      <div class="form-row" >
        <div class="col-lg-5">
          <div class="form-group form-inline col-md-5">
            <label for="stockId" class="col-sm-6 col-form-label">Stock Id </label>
            <div class="col-sm-3">
              <input type="number" class="form-control" id="stockId"
                formControlName="stockId" name="stockId">
            </div>
          </div>
          <div class="form-group form-inline col-md-5">
            <label for="insumoId" class="col-sm-6 col-form-label">Insumo Id </label>
            <div class="col-sm-3">
              <input type="number" class="form-control" id="insumoId"
                formControlName="insumoId" name="insumoId">
            </div>
          </div>
        </div>

        <div class="col-lg-5">          
          <div class="form-group form-inline col-md-5">
            <label for="codigo" class="col-sm-6 col-form-label">Codigo</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="codigo"
                formControlName="codigo" name="codigo">
            </div>
          </div>
          <div class="form-group form-inline col-md-5">
            <label for="descripcion" class="col-sm-6 col-form-label">Descripcion</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="descripcion"
                formControlName="descripcion" name="descripcion">
            </div>
          </div>
        </div>
      </div>

      <div class="col-log-4" class="text-center">
        <div class="form-horizontal">
          <button type="submit" (click)="buscadorStocks()" class="btn btn-success">Buscar</button>
          <button (click)="limpiar()" class="btn btn-warning">Limpiar</button>
        </div>
      </div>      
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col text-right">
    <button routerLink="/stock/nuevo"
            class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>


<table class="table table-hover  table-responsive table-condensed" *ngIf="!cargando && stocks.length > 0"
       class="table mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Insumo Id</th>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Unidad Medida</th>
      <th scope="col">fechaCreacion</th>
      <th scope="col">usuarioCreacion</th>
      <th scope="col">fechaModificacion</th>
      <th scope="col">usuarioModificacion</th>     
      <th scope="col">Editar/Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ stock.stockId }}</td>
      <td>{{ stock.insumos.insumoId }}</td>
      <td>{{ stock.insumos.codigo }}</td>
      <td>{{ stock.insumos.descripcion }}</td>
      <td>{{ stock.cantidad }}</td>
      <td>{{ stock.unidadMedida }}</td>
      <td>{{ stock.fechaCreacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
      <td>{{ stock.usuarioCreacion }}</td>
      <td>{{ stock.fechaModificacion | date : 'dd-MM-yyyy HH:mm:ss' }}</td>
      <td>{{ stock.usuarioModificacion }}</td>     

      <td>

        <button class="btn btn-info"
                [routerLink]="['/stock', stock.stockId ]">
        <i class="fa fa-edit"></i>
        </button>

        <button class="btn btn-danger"
                (click)="borrarStock( stock ) ">
          <i class="fa fa-trash"></i>
        </button>


      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!cargando && stocks.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
