<head>
  <link rel="stylesheet" href="medicamentos.component.css">
</head>

<body>
 <h1>Listado de medicamentos</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>
    <div class="card-body collapse show" id="collapseBuscador">

      <form [formGroup]="buscadorMedicamentosForm">      
        <div class="form-row justify-content-center" >
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Medicamento id</mat-label>
                <input matInput matInput type="number" placeholder="Medicamento id" 
                  formControlName="medicamentoId" name="medicamentoId" id="medicamentoId">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&oacute;digo</mat-label>
                <input matInput matInput type="text" placeholder="C&oacute;digo" 
                  formControlName="codigo" name="codigo" id="codigoMedicamento">
              </mat-form-field>
            </p> 
            
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Medicamento</mat-label>
                <input matInput matInput type="text" placeholder="Medicamento" 
                  formControlName="medicamento" name="medicamento" id="medicamento">
              </mat-form-field>
            </p>   
          </div>
          &nbsp; &nbsp; &nbsp;          
          <div class="align-self-center">
            <button type="submit" (click)="buscadorMedicamentos($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
            &nbsp;
            <button (click)="limpiarMedicamentos($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>       
        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <button routerLink="/medicamento/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla Medicamentos-->
  <div class="card">
    <div class="table-responsive table-hover">
      <table datatable [dtOptions]="dtOptionsMedicamentos" [dtTrigger]="dtTriggerMedicamentos" 
        id = "tableMedicamentos" class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">C&oacute;digo</th>
            <th scope="col">Medicamento</th>
            <th scope="col">Concentraci&oacute;n</th>
            <th scope="col">Forma</th> 
            <th scope="col">Via administraci&oacute;n</th> 
            <th scope="col">Presentaci&oacute;n</th> 
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicamento of medicamentos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ medicamento.medicamentoId }}</td>
            <td>{{ medicamento.codigo }}</td>
            <td>{{ medicamento.medicamento }}</td>
            <td>{{ medicamento.concentracion }}</td>
            <td>{{ medicamento.forma }}</td>
            <td>{{ medicamento.viaAdmin }}</td>
            <td>{{ medicamento.presentacion }}</td>
            <td>
              <a class="btn btn-info"
                      [routerLink]="['/medicamento', medicamento.medicamentoId ]">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <!--td (click)="borrarInsumo($event, insumo)">  
              <button class="btn btn-danger">
              <i class="fa fa-trash"></i></button>
            </td-->
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
          <td></td>
          <td></td>   
          <td></td>
          <td></td>       
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>
          <td></td>
          <td></td>
          <td></td>   
          <td></td>             
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</body>