<mat-nav-list>
    <div class="profile-card">

        <img src="../assets/images/Logo_bienestar.jpg" alt="Politecnica">

    </div>
<br/>
    <mat-divider></mat-divider>

    <h2 matSubheader>Administracion</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Inicio</a>
    <a mat-list-item routerLinkActive="list-item-active"  *ngIf="isLogged" routerLink="/personas">Personas</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/pacientes">Pacientes</a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/funcionarios">Funcionarios</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/parametros">Parametros</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/procedimientos">Procedimientos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/areas">Areas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/carreras">Carreras</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/departamentos">Departamentos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dependencias">Dependencias</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/estamentos">Estamentos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/citas">Citas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/horarios">Horarios</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/stocks">Stock</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/insumos">Insumos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/historialesClinicos">Historales Clinicos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/upload-files">Upload</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Configuracion</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/usuarios">
        <mat-icon>import_contacts</mat-icon>
        Usuarios
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Contactos
    </a>

</mat-nav-list>
