<head>
  <link rel="stylesheet" href="medicamento.component.css">
</head>

<body>
  <h1>Medicamento </h1>
  <hr>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/medicamentos">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
      <div class="card">
        <div class="card-header">
                Datos Medicamento
        </div>
        <div class="card-body">          
          
          <form [formGroup]="medicamentoForm" (ngSubmit)="guardarMedicamento( )">
            
            <!-- Datos Medicamento-->
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="form-group" [hidden]="crear">
                  <label><b>Medicamento id</b></label>
                  <input type="text"
                        class="form-control"
                        placeholder="Id"
                        placeholder="medicamentoId"
                        formControlName="medicamentoId" 
                        name="medicamentoId">
                  <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div>
                  <div class="form-group">

                    <label><b>C&oacute;digo</b></label>
                    <input type="text"
                          class="form-control"
                          placeholder="C&oacute;digo"                      
                          name="codigo"
                          formControlName="codigo">                      
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Medicamento</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Medicamento"
                          formControlName="medicamento"
                          name="medicamento"
                          [class.is-invalid]="medicamentoNoValido">
                      <small *ngIf="medicamentoNoValido" class="text-danger">
                        Ingrese el nombre del medicamento
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Concentraci&oacute;n</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Concentraci&oacute;n"
                          formControlName="concentracion"
                          name="concentracion"
                          [class.is-invalid]="concentracionNoValido">
                      <small *ngIf="concentracionNoValido" class="text-danger">
                        Ingrese la concentraci&oacute;n del medicamento
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Forma farmac&eacute;utica</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Forma farmac&eacute;utica"
                          formControlName="forma"
                          name="forma"
                          [class.is-invalid]="formaNoValido">
                      <small *ngIf="formaNoValido" class="text-danger">
                        Ingrese la forma farmac&eacute;utica
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>V&iacute;a administrac&oacute;n</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="V&iacute;a administrac&oacute;n"
                          formControlName="viaAdmin"
                          name="viaAdmin"
                          [class.is-invalid]="viaAdminNoValido">
                      <small *ngIf="viaAdminNoValido" class="text-danger">
                        Ingrese la v&iacute;a de administrac&oacute;n
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Presentaci&oacute;n</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Presentaci&oacute;n"
                          formControlName="presentacion"
                          name="presentacion"
                          [class.is-invalid]="presentacionMedicamentoNoValido">
                      <small *ngIf="presentacionMedicamentoNoValido" class="text-danger">
                        Ingrese la presentaci&oacute;n
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Clasificaci&oacute;n A.T.Q.</b></label>
                    <input type="text"
                          class="form-control"
                          placeholder="clasifATQ"
                          formControlName="clasifATQ"
                          name="clasifATQ">
                  </div>
                </div>                
              </div>
            </div>

            <div class="form-row justify-content-center" [hidden]="crear">
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Fecha creaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaCreacion"
                        name="fechaCreacion"
                        placeholder="Fecha creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Fecha modificaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaModificacion"
                        name="fechaModificacion"
                        placeholder="Fecha modificaci&oacute;n">
                </div>
              </div>
              <div class="col-lg-5"> 
                <div class="form-group">
                  <label><b>Usuario creaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioCreacion"
                        name="usuarioCreacion"
                        placeholder="Usuario creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Usuario modificaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioModificacion"
                        name="usuarioModificacion"
                        placeholder="Usuario modificaci&oacute;n">
                </div>
              </div> 
            </div>
            <hr>
            <br>
            <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              Existen campos obligatorios. Verifique.
              <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group text-center">
              <button type="submit"
                      class="btn btn-primary ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              &nbsp;&nbsp;
              <button (click)="limpiar()" [hidden]="!crear" 
                    class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</body>