<head>
  <link rel="stylesheet" href="usuarios.component.css">
</head>

<body>
  <h1>Listado de Usuarios</h1>
  <hr>

  <div class="card">
    <h3 class="card-header">Buscador</h3>
    <div class="card-body">
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div class="col-lg-5">
            <div class="form-group form-inline col-md-5">
              <label for="usuarioId" class="col-sm-7 col-form-label"><b>Usuario id</b></label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="usuarioId"
                formControlName="usuarioId" name="usuarioId">
              </div>
            </div>

            <div class="form-group form-inline col-md-5">
              <label for="codigoUsuario" class="col-sm-7 col-form-label"><b>C&oacute;digo usuario</b></label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="codigoUsuario"
                formControlName="codigoUsuario" name="codigoUsuario">
              </div>
            </div>

            <div class="form-group form-inline col-md-5">
              <label for="cedula" class="col-sm-7 col-form-label"><b>C&eacute;dula</b></label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="cedula"
                formControlName="cedula" name="cedula">
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="form-group form-inline col-md-5">
              <label for="nombres" class="col-sm-7 col-form-label"><b>Nombres</b></label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="nombres"
                formControlName="nombres" name="nombres">
              </div>
            </div>
    
            <div class="form-group form-inline col-md-5">
              <label for="apellidos" class="col-sm-7 col-form-label"><b>Apellidos</b></label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="apellidos"
                formControlName="apellidos" name="apellidos">
              </div>
            </div>
            <div class="form-group form-inline col-md-5">
              <label for="estado" class="col-sm-7 col-form-label"><b>Estado</b></label>
              <div class="col-sm-3">
                <select class="custom-select"
                    formControlName="estado" name = "estado">
                  <option value=null [selected]="true">TODOS</option>
                  <option value="A">ACTIVO</option>
                  <option value="I">INACTIVO</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-log-4" class="text-center">
          <div class="form-horizontal">
            <button type="submit" (click)="buscadorUsuarios($event)" class="btn btn-success">Buscar</button>
            <button (click)="limpiar()" class="btn btn-warning">Limpiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/usuario/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" 
      class="table table-hover table-responsive table-condensed table-bordered" 
      *ngIf="!cargando && usuarios.length > 0"
      class="table mt-3 animated fadeIn faster animated fadeIn faster">
      <thead class="table-info">        
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">C&oacute;digo usuario</th>
          <th scope="col">Persona id</th>
          <th scope="col">Funcionario id</th>
          <th scope="col">C&eacute;dula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>      
          <th scope="col">Estado</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ usuario.usuarioId }}</td>
          <td>{{ usuario.codigoUsuario }}</td>
          <td>{{ usuario.personas.personaId }}</td>
          <td>{{ usuario.funcionarios.funcionarioId }}</td>      
          <td>{{ usuario.personas.cedula }}</td>
          <td>{{ usuario.personas.nombres }}</td>
          <td>{{ usuario.personas.apellidos }}</td>      
          <td>{{ usuario.estado }}</td>   

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/usuario', usuario.usuarioId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>  
            <button class="btn btn-danger"
            (click)="borrarUsuario($event, usuario) ">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!cargando && usuarios.length === 0"
        class="alert alert-warning text-center mt-3 animated fadeIn faster">    
        <h4 class="alert-heading">Cargando</h4>
        <p>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
          Espere por favor
        </p>
      </tbody>
    </table>
  </div>
</body>