
<h1>Usuario </h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/usuarios">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <div class="card">
      <div class="card-header">
            Datos del Usuario
      </div>
      <div class="card-body">

            <form [formGroup]="usuarioForm" (ngSubmit)="guardar( )">
                  <!-- Usuario Id-->
                  <div class="row">
                        <div class="col-lg-5">
                              <div class="form-group" [hidden]="crear">
                                    <label>Usuario Id</label>
                                    <input type="number"
                                          class="form-control"
                                          placeholder="Usuario Id"
                                          formControlName="usuarioId"
                                          name="usuarioId">
                                    <small class="form-text text-muted">Este campo es autogenerado</small>
                              </div>
                        </div>
                  </div>

                  <div class="row">
                        <!-- Datos del Funcionario-->
                        <div formGroupName="funcionarios" class="col-lg-5">                              
                              <div class="form group">
                                    <label>Funcionario Id</label>                           
                                    <div class="input-group">
                                          <input type="text"
                                                class="form-control"
                                                placeholder="Funcionaros Id"
                                                formControlName="funcionarioId"
                                                name="funcionarioId">
                                          <span class="input-group-btn">
                                                <button class="btn btn-outline-info"
                                                (click)="obtenerFuncionario( )">
                                                      Buscar
                                                </button>
                                          </span>
                                    </div>
                              </div>
                              <label>Area</label>
                              <input type="number"
                                    class="form-control"
                                    placeholder="Area"
                                    formControlName="areaId"
                                    name="areaId">

                              <label>Estado</label>
                              <select ui-select2 class="form-control input-sm"
                                    formControlName="estado" name = "estado"
                                    uppercase>
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                              </select>
                             
                        </div>

                        <div formGroupName="personas" class="col-lg-5">
                              <div class="form group">
                                    <label>Persona Id</label>
                                    <div class="input-group">
                                          <input type="text"
                                                class="form-control"
                                                placeholder="ID"
                                                placeholder="Persona Id"
                                                formControlName="personaId" name="id" 
                                                [class.is-invalid]="personaIdNoValido">
                                          <span class="input-group-btn">
                                                <button class="btn btn-outline-info" 
                                                      (click)="obtenerPersona( )">
                                                      Buscar
                                                </button>
                                          </span>
                                          <small *ngIf="personaIdNoValido" class="text-danger">
                                                Ingrese persona Id
                                          </small>
                                    </div>
                              </div>
                              <label>C.I</label>
                              <input type="text"
                                    class="form-control"
                                    placeholder="Cedula"
                                    formControlName="cedula"
                                    name="funcionarioPersona.cedula">

                              <label>Nombres</label>
                              <input type="text"
                                    class="form-control"
                                    placeholder="Nombres"
                                    formControlName="nombres"
                                    name="funcionarioPersona.nombres">
                        
                              <label>Apellidos</label>
                              <input type="text"
                                    class="form-control"
                                    formControlName="apellidos"
                                    name="funcionarioPersona.apellidos"  
                                    placeholder="Apellidos">
                                                           
                        </div>                        
                  </div>
                  <hr>
                  <!-- Datos del Usuario-->
                  <div class="form-row">
                        <div class="col-lg-5">                              
                              <div>
                                    <label>Codigo Usuario</label>
                                    <input type="text"
                                          class="form-control"
                                          placeholder="Codigo Usuario"
                                          formControlName="codigoUsuario"
                                          name="codigoUsuario" 
                                          [class.is-invalid]="usuarioNoValido">
                                    <small *ngIf="usuarioNoValido" class="text-danger">
                                          Ingrese Codigo de Usuario
                                    </small>
                              </div>
                              <div>
                                    <label>Password</label>
                                    <input type="password"
                                          class="form-control"
                                          placeholder="Password"
                                          formControlName="password"
                                          name="password" 
                                          [class.is-invalid]="passNoValido">
                                    <small *ngIf="passNoValido" class="text-danger">
                                          Ingrese la contrasenha
                                    </small>
                              </div>
                              <div>
                                    <label>Estado</label>
                                    <select class="custom-select"
                                          formControlName="estado" name = "estado"
                                          uppercase [class.is-invalid]="estadoNoValido">
                                          <option value="A" [selected]="true">ACTIVO</option>
                                          <option value="I">INACTIVO</option>
                                    </select>                              
                                    <small *ngIf="estadoNoValido" class="text-danger">
                                          Seleccione el estado
                                    </small>
                              </div>
                        </div>
                  </div>
                  
                  <div class="form-row" [hidden]="crear">
                        <div class="col-lg-5"> 
                              <label>Fecha creacion</label>
                              <input type="datetime-local"
                                    class="form-control"
                                    formControlName="fechaCreacion"
                                    name="fechaCreacion"  
                                    placeholder="Fecha creacion">

                              <label>Fecha modificacion</label>
                              <input type="datetime-local"
                                    class="form-control"
                                    formControlName="fechaModificacion"
                                    name="fechaModificacion"  
                                    placeholder="Fecha modificacion">  
                        </div>

                        <div class="col-lg-5">                                                 
                              <label>Usuario creacion</label>
                              <input type="text"
                                    class="form-control"
                                    formControlName="usuarioCreacion"
                                    name="usuarioCreacion"  
                                    placeholder="Usuario creacion">
                        
                              <label>Usuario modificacion</label>
                              <input type="text"
                                    class="form-control"
                                    formControlName="usuarioModificacion"
                                    name="usuarioModificacion"  
                                    placeholder="Usuario modificacion">                                    
                        </div>                        
                  </div>
                  <br>
                  <hr>
                  <br>
                  <div class="form-group text-center">
                        <button type="submit"
                              class="btn btn-primary ">
                              <i class="fa fa-save"></i>
                              Guardar
                        </button>
                        <button (click)="limpiar()" [hidden]="!crear" class="btn btn-warning">Limpiar</button>
                  </div>
            </form>
      </div>
    </div>
  </div>
</div>
