<head>
  <link rel="stylesheet" href="insumo.component.css">
</head>

<body>
  <h1>Insumo </h1>
  <hr>

  <div class="row text-right">
    <div class="col">
      <button class="btn btn-danger"
              routerLink="/insumos">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>

  <div class="row animated fadeIn faster">
    <div class="col">
      <div class="card">
        <div class="card-header">
                Datos Insumo
        </div>
        <div class="card-body">

          <form [formGroup]="insumoForm" (ngSubmit)="guardar( )">
            
            <!-- Datos Insumo-->
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="form-group" [hidden]="crear">
                  <label><b>Id</b></label>
                  <input type="text"
                        class="form-control"
                        placeholder="Id"
                        placeholder="insumoId"
                        formControlName="insumoId" 
                        name="id">
                  <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div>
                  <div class="form-group">
                    <label><b>C&oacute;digo</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="C&oacute;digo"                      
                          name="codigo"
                          formControlName="codigo"
                          [class.is-invalid]="codigoNoValido">
                      <small *ngIf="codigoNoValido" class="text-danger">
                        Ingrese codigo
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Descripci&oacute;n</b><span class="requerido"> *</span></label>
                    <input type="text"
                          class="form-control"
                          placeholder="Descripci&oacute;n"
                          formControlName="descripcion"
                          name="descripcion"
                          [class.is-invalid]="descripcionNoValido">
                      <small *ngIf="descripcionNoValido" class="text-danger">
                        Ingrese descripci&oacute;n
                      </small>
                  </div>
                </div>

                <div>
                  <div class="form-group">
                    <label><b>Tipo</b><span class="requerido"> *</span></label>
                    <select ui-select2 class="form-control input-sm"
                      [class.is-invalid]="tipoNoValido"
                      formControlName="tipo"
                      uppercase>
                      <option value=null>Seleccione</option>
                      <option *ngFor="let item of listaTipoInsumo; let i = index"
                        value="{{item.valor}}">
                          {{item.descripcionValor}}
                      </option>
                    </select>
                    <small *ngIf="tipoNoValido" class="text-danger">
                      Ingrese el tipo de insumo
                    </small>
                  </div>
                </div>

                <!--div class="form-group">
                  <label><b>Fecha Vencimiento</b></label>
                  <input type="date"
                        class="form-control"
                        formControlName="fechaVencimiento"
                        name="fechaVencimiento">
                </div-->               
              </div>
            </div>
            <div class="form-row justify-content-center" [hidden]="crear">
              <div class="col-lg-5">
                <div class="form-group">
                  <label><b>Fecha creaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaCreacion"
                        name="fechaCreacion"
                        placeholder="Fecha creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Fecha modificaci&oacute;n</b></label>
                  <input type="datetime-local"
                        class="form-control"
                        formControlName="fechaModificacion"
                        name="fechaModificacion"
                        placeholder="Fecha modificaci&oacute;n">
                </div>
              </div>
              <div class="col-lg-5"> 
                <div class="form-group">
                  <label><b>Usuario creaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioCreacion"
                        name="usuarioCreacion"
                        placeholder="Usuario creaci&oacute;n">
                </div>
                <div class="form-group">
                  <label><b>Usuario modificaci&oacute;n</b></label>
                  <input type="text"
                        class="form-control"
                        formControlName="usuarioModificacion"
                        name="usuarioModificacion"
                        placeholder="Usuario modificaci&oacute;n">
                </div>
              </div> 
            </div>
            <hr>
            <br>
            <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              Existen campos obligatorios. Verifique.
              <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group text-center">
              <button type="submit"
                      class="btn btn-primary ">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              &nbsp;&nbsp;
              <button (click)="limpiar()" [hidden]="!crear" 
                    class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>