<head>
  <link rel="stylesheet" href="pacientes.component.css">
</head>

<body>
  <h1>Listado de Pacientes</h1>
  <hr>

  <div class="card">
    <h3 class="card-header" data-toggle="collapse" data-target="#collapseBuscador"
        aria-expanded="true" aria-controls="collapseBuscador">Buscador</h3>  
    <div class="card-body collapse show" id="collapseBuscador">
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Paciente id</mat-label>
                <input matInput matInput type="number" placeholder="Paciente id" 
                  formControlName="pacienteId" name="pacienteId" id="pacienteId">
              </mat-form-field>
            </p>            

            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="C&eacute;dula" 
                  formControlName="cedula" name="cedula" id="cedula">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput matInput type="text" placeholder="Nombres" 
                  formControlName="nombres" name="nombres" id="nombres">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Apellidos" 
                  formControlName="apellidos" name="apellidos" id="apellidos">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorPacientes($event)" class="btn btn-success"><i class="fas fa-search"></i> Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning"><i class="fas fa-backspace"></i> Limpiar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/paciente/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla de datos-->
  <div class="card">
    <div class="table-responsive table-hover">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm">
        <thead>
          <tr class="table-primary">  
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Editar</th>
            <!--th scope="col">Borrar</th-->
          </tr>
        </thead>
        <tbody *ngIf="pacientes?.length != 0">
          <tr *ngFor="let paciente of pacientes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ paciente.pacienteId }}</td>
            <td>{{ paciente.personas.cedula }}</td>
            <td>{{ paciente.personas.nombres }}</td>
            <td>{{ paciente.personas.apellidos }}</td>
            <td (click)="editar($event, paciente.pacienteId )">
              <a class="btn btn-info">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <!--td (click)="borrarPaciente($event, paciente)">  
              <button class="btn btn-danger">
              <i class="fa fa-trash"></i></button>
            </td-->
          </tr>
        </tbody>
        <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">   
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h4 class="alert-heading">Cargando</h4>
            <p>
              <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
              Espere por favor
            </p>
          </td>
          <td></td>
          <td></td>
          <!--td></td-->
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</body>