<head>
  <link rel="stylesheet" href="personas.component.css">
</head>

<body>
  <h1>Listado de Personas</h1>
  <hr>

  <div class="card">
    <h3 class="card-header">Buscador</h3> 
    <div class="card-body">
      <form [formGroup]="buscadorForm">
        <div class="form-row justify-content-center">
          <div>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Persona id</mat-label>
                <input matInput matInput type="number" placeholder="Persona id" 
                  formControlName="personaId" name="personaId" id="personaId">
              </mat-form-field>
            </p>
            
            <p>
              <mat-form-field appearance="fill">
                <mat-label>C&eacute;dula</mat-label>
                <input matInput matInput type="text" placeholder="C&eacute;dula" 
                  formControlName="cedula" name="cedula" id="cedula">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput matInput type="text" placeholder="Nombres" 
                  formControlName="nombres" name="nombres" id="nombres">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput matInput type="text" placeholder="Apellidos" 
                  formControlName="apellidos" name="apellidos" id="apellidos">
              </mat-form-field>
            </p>
          </div>
          &nbsp; &nbsp; &nbsp;
          <div class="align-self-center">
              <button type="submit" (click)="buscadorPersonas($event)" class="btn btn-success">Buscar</button>
              &nbsp;
              <button (click)="limpiar($event)" class="btn btn-warning">Limpiar</button>
          </div>
        </div>        
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button routerLink="/persona/nuevo"
              class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>

  <!--Tabla vacia-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="!cargando && personas.length === 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">C&eacute;dula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Direcci&oacute;n</th>
          <th scope="col">Email</th>
          <th scope="col">Estado civil</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Sexo</th>
          <th scope="col">Tel&eacute;fono</th>
          <th scope="col">Celular</th>    
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>    
    </table>
  </div>

  <!--Tabla de datos-->
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="table table-sm" 
      *ngIf="personas.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">C&eacute;dula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Direcci&oacute;n</th>
          <th scope="col">Email</th>
          <th scope="col">Estado civil</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Nacionalidad</th>
          <th scope="col">Sexo</th>
          <th scope="col">Tel&eacute;fono</th>
          <th scope="col">Celular</th>    
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody *ngIf="personas?.length != 0">
        <tr *ngFor="let persona of personas; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ persona.personaId }}</td>
          <td>{{ persona.cedula }}</td>
          <td>{{ persona.nombres }}</td>
          <td>{{ persona.apellidos }}</td>
          <td>{{ persona.edad }}</td>
          <td>{{ persona.direccion }}</td>
          <td>{{ persona.email }}</td>
          <td>{{ persona.estadoCivil }}</td>
          <td>{{ persona.fechaNacimiento | date : 'dd-MM-yyyy'  }}</td>
          <td>{{ persona.nacionalidad }}</td>
          <td>{{ persona.sexo }}</td>
          <td>{{ persona.telefono }}</td>
          <td>{{ persona.celular}}</td>   

          <td>
            <a class="btn btn-info"
                    [routerLink]="['/persona', persona.personaId ]">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>  
            <button class="btn btn-danger"
            (click)="borrarPersona($event, persona) ">
            <i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="cargando" class="alert alert-light text-center mt-3 animated fadeIn faster">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
    </table>
  </div>
</body>